<a href="https://colab.research.google.com/github/AUT-Student/NN-HW6/blob/main/NN_HW6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Library

In [37]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import glob
from IPython.display import display

import tensorflow as tf
import tensorflow.keras as keras

# Dataset

In [1]:
!gdown 1SLrmOfW66WQc-zrfo-gX-g2dDA4pAw1F

Downloading...
From: https://drive.google.com/uc?id=1SLrmOfW66WQc-zrfo-gX-g2dDA4pAw1F
To: /content/NN_HW6_Dataset.zip
100% 1.80M/1.80M [00:00<00:00, 141MB/s]

In [2]:
!unzip /content/NN_HW6_Dataset.zip

Archive:  /content/NN_HW6_Dataset.zip
  inflating: IRX6XAFF0005.csv
  inflating: IRX6XALS0002.csv
  inflating: IRX6XS300003.csv
  inflating: IRX6XSLC0000.csv
  inflating: IRX6XSNT0009.csv
  inflating: IRX6XTAL0001.csv
  inflating: IRX6XTDP0004.csv
  inflating: IRX6XTPI0009.csv
  inflating: IRX6XTPI0009[2022-05-23-10-18-57].csv
  inflating: IRX6XTPI0025.csv
  inflating: IRX6XWAI0001.csv
  inflating: IRX6XWTH0001.csv
  inflating: IRXWXEXR0007.csv
  inflating: IRXWXEXR0023.csv
  inflating: IRXWXOCI0001.csv
  inflating: IRXWXOCI0027.csv
  inflating: IRXYXTPI0009.csv
  inflating: IRXYXTPI0025.csv
  inflating: IRXZXAGR0009.csv
  inflating: IRXZXBNK0006.csv
  inflating: IRXZXCMI0000.csv
  inflating: IRXZXCML0005.csv
  inflating: IRXZXCNS0007.csv
  inflating: IRXZXENG0009.csv
  inflating: IRXZXEXR0004.csv
  inflating: IRXZXEXR0020.csv
  inflating: IRXZXFIN0006.csv
  inflating: IRXZXFOD0000.csv
  inflating: IRXZXHTL0003.csv
  inflating: IRXZXIND0008.csv
  inflating: IRXZXINS0001.csv
  inflating: IRXZXINV0006.csv
  inflating: IRXZXITG0009.csv
  inflating: IRXZXLSG0005.csv
  inflating: IRXZXMIN0007.csv
  inflating: IRXZXMML0003.csv
  inflating: IRXZXMNF0000.csv
  inflating: IRXZXMOT0003.csv
  inflating: IRXZXMTL0006.csv
  inflating: IRXZXNMM0001.csv
  inflating: IRXZXOBM0003.csv
  inflating: IRXZXOCI0008.csv
  inflating: IRXZXOCI0024.csv
  inflating: IRXZXOEW0008.csv
  inflating: IRXZXOIL0007.csv
  inflating: IRXZXOUT0003.csv
  inflating: IRXZXPHM0006.csv
  inflating: IRXZXRTL0001.csv
  inflating: IRXZXSRV0000.csv
  inflating: IRXZXTEX0002.csv
  inflating: IRXZXTRI0006.csv
  inflating: IRXZXWDI0007.csv

In [45]:
pathes = glob.glob("/content/*.csv")

for path in pathes:
  sub_dataset = pd.read_csv(path, encoding="UTF-16", delimiter=",")

  if len(sub_dataset)>0:
    print(path)
    # display(sub_dataset)
    display(sub_dataset.tail(240))
    
    print("##############\n\n")

/content/IRXZXOCI0008.csv

,<TICKER>,<DTYYYYMMDD>,<OPEN>,<HIGH>,<LOW>,<CLOSE>,<VOL>,<OPENINT>,<OPENINT>.1,<OPENINT>.2,<COl12>,<COl13>,<LAST>
1942,شاخص_كل_فرابورس6,20210518,17747.1,17789.4,17772.5,17772.5,500055969,2.670632e+12,88206,1.200198e+10,OTC Overall Index,شاخص_كل_فرابورس,17772.5
1943,شاخص_كل_فرابورس6,20210519,17772.1,17797.0,17791.4,17791.4,694801846,4.551812e+12,108413,1.190898e+10,OTC Overall Index,شاخص_كل_فرابورس,17791.4
1944,شاخص_كل_فرابورس6,20210522,17810.8,17816.8,17676.4,17676.4,443477753,3.223291e+12,90258,1.183554e+10,OTC Overall Index,شاخص_كل_فرابورس,17676.4
1945,شاخص_كل_فرابورس6,20210523,17642.9,17642.9,17503.9,17503.9,598258196,3.181944e+12,98344,1.169097e+10,OTC Overall Index,شاخص_كل_فرابورس,17503.9
1946,شاخص_كل_فرابورس6,20210524,17499.8,17504.5,17476.5,17476.5,529694599,2.683259e+12,115169,1.165787e+10,OTC Overall Index,شاخص_كل_فرابورس,17476.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2177,شاخص_كل_فرابورس6,20220516,21553.8,21620.7,21620.7,21620.7,2465155499,1.561998e+13,345395,1.190409e+10,OTC Overall Index,شاخص_كل_فرابورس,21620.7
2178,شاخص_كل_فرابورس6,20220517,21644.3,21695.6,21689.7,21689.7,2629661250,1.531904e+13,303832,1.200937e+10,OTC Overall Index,شاخص_كل_فرابورس,21689.7
2179,شاخص_كل_فرابورس6,20220518,21620.7,21671.6,21643.8,21643.8,1843016966,1.139007e+13,262424,1.197906e+10,OTC Overall Index,شاخص_كل_فرابورس,21643.8
2180,شاخص_كل_فرابورس6,20220521,21612.6,21612.6,21539.4,21539.4,1422075970,8.965528e+12,182173,1.192066e+10,OTC Overall Index,شاخص_كل_فرابورس,21539.4
2181,شاخص_كل_فرابورس6,20220522,21546.3,21578.5,21565.8,21565.8,1520177827,1.114881e+13,199379,1.192882e+10,OTC Overall Index,شاخص_كل_فرابورس,21565.8

##############


/content/IRX6XTPI0009[2022-05-23-10-18-57].csv

,<TICKER>,<DTYYYYMMDD>,<OPEN>,<HIGH>,<LOW>,<CLOSE>,<VOL>,<OPENINT>,<OPENINT>.1,<OPENINT>.2,<LAST>
2979,شاخص_كل6,20210414,1245600.0,1245620.0,1243235.8,1243235.8,2980081548,2.217416e+13,291611,4.965254e+10,1243235.8
2980,شاخص_كل6,20210417,1241280.0,1241280.0,1233723.5,1233723.5,885610263,8.474070e+12,102477,4.927076e+10,1233723.5
2981,شاخص_كل6,20210418,1231020.0,1231020.0,1224778.2,1224778.2,629873549,6.153335e+12,63552,4.890122e+10,1224778.2
2982,شاخص_كل6,20210419,1221330.0,1221330.0,1216836.0,1216836.0,2265944945,1.580664e+13,181455,4.858411e+10,1216836.0
2983,شاخص_كل6,20210420,1218570.0,1220870.0,1219665.2,1219665.2,4424916507,2.338622e+13,297218,4.869668e+10,1219665.2
...,...,...,...,...,...,...,...,...,...,...,...
3214,شاخص_كل6,20220409,1460550.0,1460550.0,1458684.4,1458684.4,8423628503,3.765857e+13,462958,5.810100e+10,1458684.4
3215,شاخص_كل6,20220410,1461710.0,1474240.0,1474099.6,1474099.6,11270947735,4.370660e+13,483996,5.871501e+10,1474099.6
3216,شاخص_كل6,20220411,1475490.0,1479890.0,1479590.9,1479590.9,10070884564,3.957082e+13,504631,5.893313e+10,1479590.9
3217,شاخص_كل6,20220412,1474000.0,1474000.0,1445970.5,1445970.5,9289109331,4.012174e+13,430607,5.759041e+10,1445970.5
3218,شاخص_كل6,20220413,1443170.0,1454120.0,1454126.8,1454126.8,8473206930,3.538342e+13,430487,5.790589e+10,1454126.8

##############


/content/IRX6XSNT0009.csv

,<TICKER>,<DTYYYYMMDD>,<OPEN>,<HIGH>,<LOW>,<CLOSE>,<VOL>,<OPENINT>,<OPENINT>.1,<OPENINT>.2,<COl12>,<COl13>,<LAST>
3006,شاخص_صنعت6,20210519,1017450.0,1017450.0,1000920.0,1000920.0,1604145163,1.149069e+13,179619,3.736055e+10,Industy Index,شاخص_صنعت,1000920.0
3007,شاخص_صنعت6,20210522,992706.0,992706.0,974675.0,974675.0,2138516996,1.113298e+13,132814,3.637847e+10,Industy Index,شاخص_صنعت,974675.0
3008,شاخص_صنعت6,20210523,968432.0,968432.0,956210.0,956210.0,1960930556,1.185582e+13,155363,3.565174e+10,Industy Index,شاخص_صنعت,956210.0
3009,شاخص_صنعت6,20210524,953029.0,953453.0,950072.0,950072.0,1892545187,1.245752e+13,195946,3.540903e+10,Industy Index,شاخص_صنعت,950072.0
3010,شاخص_صنعت6,20210525,953288.0,961846.0,961846.0,961846.0,2220851084,1.441892e+13,263828,3.580313e+10,Industy Index,شاخص_صنعت,961846.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3241,شاخص_صنعت6,20220516,1469370.0,1474700.0,1474700.0,1474700.0,8469576514,4.493093e+13,685740,5.472715e+10,Industy Index,شاخص_صنعت,1474700.0
3242,شاخص_صنعت6,20220517,1483100.0,1498830.0,1497690.0,1497690.0,8366404232,4.467476e+13,753123,5.558027e+10,Industy Index,شاخص_صنعت,1497690.0
3243,شاخص_صنعت6,20220518,1494950.0,1494950.0,1487150.0,1487150.0,7188312476,3.688831e+13,858950,5.518893e+10,Industy Index,شاخص_صنعت,1487150.0
3244,شاخص_صنعت6,20220521,1478060.0,1478060.0,1469790.0,1469790.0,6502579033,3.478897e+13,511516,5.452978e+10,Industy Index,شاخص_صنعت,1469790.0
3245,شاخص_صنعت6,20220522,1470750.0,1472510.0,1472450.0,1472450.0,5339859252,2.970570e+13,398245,5.451849e+10,Industy Index,شاخص_صنعت,1472450.0

##############


/content/IRX6XAFF0005.csv

,<TICKER>,<DTYYYYMMDD>,<OPEN>,<HIGH>,<LOW>,<CLOSE>,<VOL>,<OPENINT>,<OPENINT>.1,<OPENINT>.2,<COl12>,<COl13>,<LAST>
2871,شاخص_آزاد_شناور6,20210519,1686810.0,1686810.0,1661610.0,1661610.0,2837606733,1.561971e+13,232974,1.241747e+11,Free Float Index,شاخص_آزاد_شناور,1661610.0
2872,شاخص_آزاد_شناور6,20210522,1653220.0,1653220.0,1631080.0,1631080.0,3140846699,1.542891e+13,171043,1.218888e+11,Free Float Index,شاخص_آزاد_شناور,1631080.0
2873,شاخص_آزاد_شناور6,20210523,1623890.0,1623890.0,1607280.0,1607280.0,2736872962,1.429308e+13,195077,1.200775e+11,Free Float Index,شاخص_آزاد_شناور,1607280.0
2874,شاخص_آزاد_شناور6,20210524,1603870.0,1603870.0,1591260.0,1591260.0,3100360796,1.610564e+13,252943,1.188583e+11,Free Float Index,شاخص_آزاد_شناور,1591260.0
2875,شاخص_آزاد_شناور6,20210525,1590940.0,1601750.0,1600280.0,1600280.0,3828842175,2.090582e+13,349959,1.194969e+11,Free Float Index,شاخص_آزاد_شناور,1600280.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3106,شاخص_آزاد_شناور6,20220516,2005940.0,2017710.0,2017710.0,2017710.0,10148885600,5.205224e+13,798234,1.701319e+11,Free Float Index,شاخص_آزاد_شناور,2017710.0
3107,شاخص_آزاد_شناور6,20220517,2026770.0,2041520.0,2038090.0,2038090.0,10239274235,5.180431e+13,854852,1.718504e+11,Free Float Index,شاخص_آزاد_شناور,2038090.0
3108,شاخص_آزاد_شناور6,20220518,2036670.0,2036670.0,2021360.0,2021360.0,8283025474,4.102303e+13,933043,1.704382e+11,Free Float Index,شاخص_آزاد_شناور,2021360.0
3109,شاخص_آزاد_شناور6,20220521,2016250.0,2016250.0,2006790.0,2006790.0,8136842521,4.053541e+13,590090,1.691946e+11,Free Float Index,شاخص_آزاد_شناور,2006790.0
3110,شاخص_آزاد_شناور6,20220522,2007140.0,2010340.0,2009140.0,2009140.0,6746482935,3.470973e+13,464806,1.676385e+11,Free Float Index,شاخص_آزاد_شناور,2009140.0

##############


/content/IRX6XSLC0000.csv

,<TICKER>,<DTYYYYMMDD>,<OPEN>,<HIGH>,<LOW>,<CLOSE>,<VOL>,<OPENINT>,<OPENINT>.1,<OPENINT>.2,<COl12>,<COl13>,<LAST>
3005,شاخص50شركت_فعالتر6,20210519,44002.7,44002.7,43282.0,43282.0,1872956465,1.043411e+13,141975,3.170393e+10,Top 50 Index,شاخص50شركت_فعالتر,43282.0
3006,شاخص50شركت_فعالتر6,20210522,42850.4,42850.4,42088.1,42088.1,2452589028,1.115695e+13,108702,3.082945e+10,Top 50 Index,شاخص50شركت_فعالتر,42088.1
3007,شاخص50شركت_فعالتر6,20210523,41674.3,41674.3,41174.9,41174.9,1973926136,9.376746e+12,116407,3.012145e+10,Top 50 Index,شاخص50شركت_فعالتر,41174.9
3008,شاخص50شركت_فعالتر6,20210524,41020.6,41020.6,40656.9,40656.9,2246637445,1.077543e+13,149581,2.973223e+10,Top 50 Index,شاخص50شركت_فعالتر,40656.9
3009,شاخص50شركت_فعالتر6,20210525,40813.7,41180.4,41180.4,41180.4,2602456044,1.435310e+13,208396,3.007551e+10,Top 50 Index,شاخص50شركت_فعالتر,41180.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3240,شاخص50شركت_فعالتر6,20220516,62672.1,62898.3,62898.3,62898.3,4277368787,1.846448e+13,233327,4.780063e+10,Top 50 Index,شاخص50شركت_فعالتر,62898.3
3241,شاخص50شركت_فعالتر6,20220517,63295.3,64159.0,64113.6,64113.6,5255373178,2.254399e+13,233323,4.872419e+10,Top 50 Index,شاخص50شركت_فعالتر,64113.6
3242,شاخص50شركت_فعالتر6,20220518,63983.2,63983.2,63738.8,63738.8,4046007971,1.693587e+13,202238,4.843938e+10,Top 50 Index,شاخص50شركت_فعالتر,63738.8
3243,شاخص50شركت_فعالتر6,20220521,63309.0,63309.0,63033.3,63033.3,3797923293,1.669022e+13,180344,4.785424e+10,Top 50 Index,شاخص50شركت_فعالتر,63033.3
3244,شاخص50شركت_فعالتر6,20220522,63076.6,63144.3,63144.3,63144.3,2952600264,1.291217e+13,133072,4.783824e+10,Top 50 Index,شاخص50شركت_فعالتر,63144.3

##############


/content/IRXZXCMI0000.csv

,<TICKER>,<DTYYYYMMDD>,<OPEN>,<HIGH>,<LOW>,<CLOSE>,<VOL>,<OPENINT>,<OPENINT>.1,<OPENINT>.2,<COl12>,<COl13>,<LAST>
425,شاخص_اركان_و_مالي6,20210518,478.9,478.9,477.9,477.9,45803,1.353204e+09,27,8.689646e+07,IFB Capital Market,شاخص_اركان_و_نهادهاي_مالي,477.9
426,شاخص_اركان_و_مالي6,20210519,477.9,477.9,477.5,477.5,18540,5.466148e+08,17,8.682455e+07,IFB Capital Market,شاخص_اركان_و_نهادهاي_مالي,477.5
427,شاخص_اركان_و_مالي6,20210522,477.5,477.5,477.3,477.3,8647,2.547233e+08,9,8.678889e+07,IFB Capital Market,شاخص_اركان_و_نهادهاي_مالي,477.3
428,شاخص_اركان_و_مالي6,20210523,477.3,477.3,477.1,477.1,12453,3.667035e+08,9,8.674067e+07,IFB Capital Market,شاخص_اركان_و_نهادهاي_مالي,477.1
429,شاخص_اركان_و_مالي6,20210524,477.1,477.1,476.5,476.5,27720,8.158273e+08,11,8.663340e+07,IFB Capital Market,شاخص_اركان_و_نهادهاي_مالي,476.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
660,شاخص_اركان_و_مالي6,20220516,622.4,626.7,625.9,625.9,34510072,5.537491e+11,7716,1.123221e+08,IFB Capital Market,شاخص_اركان_و_نهادهاي_مالي,625.9
661,شاخص_اركان_و_مالي6,20220517,614.9,618.6,600.3,600.3,31564212,4.857666e+11,6809,1.077285e+08,IFB Capital Market,شاخص_اركان_و_نهادهاي_مالي,600.3
662,شاخص_اركان_و_مالي6,20220518,593.9,598.1,590.3,590.3,15661490,2.369858e+11,4090,1.059223e+08,IFB Capital Market,شاخص_اركان_و_نهادهاي_مالي,590.3
663,شاخص_اركان_و_مالي6,20220521,578.5,587.1,586.7,586.7,16575223,2.492750e+11,3613,1.052731e+08,IFB Capital Market,شاخص_اركان_و_نهادهاي_مالي,586.7
664,شاخص_اركان_و_مالي6,20220522,593.2,593.2,587.2,587.2,15185492,2.285855e+11,2940,1.053702e+08,IFB Capital Market,شاخص_اركان_و_نهادهاي_مالي,587.2

##############


/content/IRX6XTAL0001.csv

,<TICKER>,<DTYYYYMMDD>,<OPEN>,<HIGH>,<LOW>,<CLOSE>,<VOL>,<OPENINT>,<OPENINT>.1,<OPENINT>.2,<COl12>,<COl13>,<LAST>
3006,شاخص_بازار_اول6,20210519,858670.0,858670.0,843664.0,843664.0,2036722406,9.134096e+12,110043,2.558036e+10,Main Board Index,شاخص_بازار_اول,843664.0
3007,شاخص_بازار_اول6,20210522,837328.0,837328.0,821699.0,821699.0,2557228770,9.936791e+12,83323,2.491204e+10,Main Board Index,شاخص_بازار_اول,821699.0
3008,شاخص_بازار_اول6,20210523,817003.0,817003.0,806177.0,806177.0,2129623758,9.315758e+12,107622,2.444451e+10,Main Board Index,شاخص_بازار_اول,806177.0
3009,شاخص_بازار_اول6,20210524,803563.0,803563.0,793381.0,793381.0,2407745963,1.030373e+13,134606,2.404324e+10,Main Board Index,شاخص_بازار_اول,793381.0
3010,شاخص_بازار_اول6,20210525,792387.0,800729.0,800729.0,800729.0,2965003594,1.372807e+13,178173,2.422133e+10,Main Board Index,شاخص_بازار_اول,800729.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3241,شاخص_بازار_اول6,20220516,1210680.0,1220170.0,1220170.0,1220170.0,5287773206,2.684778e+13,321264,3.506596e+10,Main Board Index,شاخص_بازار_اول,1220170.0
3242,شاخص_بازار_اول6,20220517,1226360.0,1242750.0,1239910.0,1239910.0,4796730023,2.570657e+13,294273,3.563316e+10,Main Board Index,شاخص_بازار_اول,1239910.0
3243,شاخص_بازار_اول6,20220518,1239350.0,1239350.0,1230810.0,1230810.0,4314362986,2.134163e+13,248163,3.537163e+10,Main Board Index,شاخص_بازار_اول,1230810.0
3244,شاخص_بازار_اول6,20220521,1227830.0,1227830.0,1219600.0,1219600.0,4264266220,2.019588e+13,230352,3.504952e+10,Main Board Index,شاخص_بازار_اول,1219600.0
3245,شاخص_بازار_اول6,20220522,1219870.0,1221260.0,1221130.0,1221130.0,3787533704,1.709121e+13,185811,3.498852e+10,Main Board Index,شاخص_بازار_اول,1221130.0

##############


/content/IRX6XS300003.csv

,<TICKER>,<DTYYYYMMDD>,<OPEN>,<HIGH>,<LOW>,<CLOSE>,<VOL>,<OPENINT>,<OPENINT>.1,<OPENINT>.2,<COl12>,<COl13>,<LAST>
2597,شاخص_30_شركت_بزرگ6,20210519,62547.3,62547.3,61279.1,61279.1,1549129329,7.065102e+12,86646,5.304039e+10,Top 30 Index,شاخص_30_شركت_بزرگ,61279.1
2598,شاخص_30_شركت_بزرگ6,20210522,60961.4,60961.4,59473.1,59473.1,2084505595,8.512733e+12,74587,5.147724e+10,Top 30 Index,شاخص_30_شركت_بزرگ,59473.1
2599,شاخص_30_شركت_بزرگ6,20210523,59165.5,59165.5,58036.3,58036.3,1650259796,7.209675e+12,84994,5.019854e+10,Top 30 Index,شاخص_30_شركت_بزرگ,58036.3
2600,شاخص_30_شركت_بزرگ6,20210524,57918.9,57918.9,57121.7,57121.7,1550090909,8.115469e+12,101313,4.940473e+10,Top 30 Index,شاخص_30_شركت_بزرگ,57121.7
2601,شاخص_30_شركت_بزرگ6,20210525,57071.5,57932.2,57926.9,57926.9,1778988756,1.082800e+13,129356,5.010120e+10,Top 30 Index,شاخص_30_شركت_بزرگ,57926.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2832,شاخص_30_شركت_بزرگ6,20220516,88405.1,89025.7,89025.7,89025.7,2995422468,1.299348e+13,165948,9.654351e+10,Top 30 Index,شاخص_30_شركت_بزرگ,89025.7
2833,شاخص_30_شركت_بزرگ6,20220517,89249.5,90776.8,90669.3,90669.3,4163822460,1.746462e+13,176160,9.832590e+10,Top 30 Index,شاخص_30_شركت_بزرگ,90669.3
2834,شاخص_30_شركت_بزرگ6,20220518,90643.6,90643.6,89915.2,89915.2,3036179212,1.314405e+13,154964,9.750820e+10,Top 30 Index,شاخص_30_شركت_بزرگ,89915.2
2835,شاخص_30_شركت_بزرگ6,20220521,89813.0,89813.0,89072.6,89072.6,2909881363,1.182412e+13,133465,9.659439e+10,Top 30 Index,شاخص_30_شركت_بزرگ,89072.6
2836,شاخص_30_شركت_بزرگ6,20220522,89072.1,89225.0,89204.6,89204.6,2703754347,1.029509e+13,110342,9.791925e+10,Top 30 Index,شاخص_30_شركت_بزرگ,89204.6

##############


/content/IRXZXTRI0006.csv

,<TICKER>,<DTYYYYMMDD>,<OPEN>,<HIGH>,<LOW>,<CLOSE>,<VOL>,<OPENINT>,<OPENINT>.1,<OPENINT>.2,<COl12>,<COl13>,<LAST>
238,لاستيك6,20210518,141.7,145.1,145.1,145.1,563731,3.204559e+10,4745,28991221.27,IFB Tire Index,شاخص_لاستيك,145.1
239,لاستيك6,20210519,145.5,145.6,145.2,145.2,263473,1.498863e+10,3486,29013217.63,IFB Tire Index,شاخص_لاستيك,145.2
240,لاستيك6,20210522,145.0,145.0,140.6,140.6,176510,9.566142e+09,1412,28093928.57,IFB Tire Index,شاخص_لاستيك,140.6
241,لاستيك6,20210523,140.1,140.1,137.3,137.3,125683,6.581739e+09,856,27433098.31,IFB Tire Index,شاخص_لاستيك,137.3
242,لاستيك6,20210524,136.7,136.7,130.5,130.5,372117,1.902584e+10,1742,26075617.06,IFB Tire Index,شاخص_لاستيك,130.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
473,لاستيك6,20220516,143.7,145.1,145.1,145.1,3131141,4.121176e+10,3594,26850275.21,IFB Tire Index,شاخص_لاستيك,145.1
474,لاستيك6,20220517,146.9,147.2,145.8,145.8,2445656,3.234270e+10,2540,26978077.81,IFB Tire Index,شاخص_لاستيك,145.8
475,لاستيك6,20220518,141.1,141.1,140.3,140.3,2249722,2.863145e+10,2462,25962391.33,IFB Tire Index,شاخص_لاستيك,140.3
476,لاستيك6,20220521,138.7,145.6,145.6,145.6,7329048,9.683861e+10,2423,26954491.62,IFB Tire Index,شاخص_لاستيك,145.6
477,لاستيك6,20220522,148.8,148.8,147.7,147.7,2758038,3.695696e+10,1714,27335447.14,IFB Tire Index,شاخص_لاستيك,147.7

##############


/content/IRXZXWDI0007.csv

,<TICKER>,<DTYYYYMMDD>,<OPEN>,<HIGH>,<LOW>,<CLOSE>,<VOL>,<OPENINT>,<OPENINT>.1,<OPENINT>.2,<COl12>,<COl13>,<LAST>
108,چوب6,20210518,150.1,150.1,140.6,140.6,1995901,6.705377e+10,2417,6719147.95,IFB Wood Index,شاخص_چوب,140.6
109,چوب6,20210519,140.2,140.2,138.2,138.2,100756,3.215829e+09,83,6605050.94,IFB Wood Index,شاخص_چوب,138.2
110,چوب6,20210522,138.1,138.1,137.6,137.6,35916,1.126829e+09,45,6578936.37,IFB Wood Index,شاخص_چوب,137.6
111,چوب6,20210523,137.6,137.6,137.3,137.3,22722,7.100625e+08,23,6562351.39,IFB Wood Index,شاخص_چوب,137.3
112,چوب6,20210524,137.3,137.3,137.0,137.0,18505,5.768379e+08,30,6548990.06,IFB Wood Index,شاخص_چوب,137.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
343,چوب6,20220516,0.0,141.8,141.8,141.8,0,0.000000e+00,0,6780641.46,IFB Wood Index,شاخص_چوب,141.8
344,چوب6,20220517,145.2,148.5,146.5,146.5,804823,2.630652e+10,3090,6537218.59,IFB Wood Index,شاخص_چوب,146.5
345,چوب6,20220518,147.2,147.9,145.8,145.8,930406,3.027099e+10,6257,6507050.49,IFB Wood Index,شاخص_چوب,145.8
346,چوب6,20220521,140.4,141.0,139.8,139.8,1423015,4.438751e+10,2861,6238516.65,IFB Wood Index,شاخص_چوب,139.8
347,چوب6,20220522,142.3,142.8,142.2,142.2,515569,1.635842e+10,2006,6345772.13,IFB Wood Index,شاخص_چوب,142.2

##############


/content/IRXZXENG0009.csv

,<TICKER>,<DTYYYYMMDD>,<OPEN>,<HIGH>,<LOW>,<CLOSE>,<VOL>,<OPENINT>,<OPENINT>.1,<OPENINT>.2,<COl12>,<COl13>,<LAST>
408,فني_مهندسي6,20210518,400.9,400.9,400.8,400.8,3710,7.849989e+07,6,33399151.62,IFB EngineeringInd,شاخص_فني_مهندسي,400.8
409,فني_مهندسي6,20210519,400.8,400.8,400.8,400.8,900,1.903770e+07,3,33396917.03,IFB EngineeringInd,شاخص_فني_مهندسي,400.8
410,فني_مهندسي6,20210522,400.8,400.8,400.7,400.7,3480,7.360896e+07,4,33388296.28,IFB EngineeringInd,شاخص_فني_مهندسي,400.7
411,فني_مهندسي6,20210523,400.6,400.6,400.1,400.1,18650,3.943916e+08,5,33342127.04,IFB EngineeringInd,شاخص_فني_مهندسي,400.1
412,فني_مهندسي6,20210524,400.1,400.1,400.1,400.1,855,1.805504e+07,2,33340011.92,IFB EngineeringInd,شاخص_فني_مهندسي,400.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
643,فني_مهندسي6,20220516,330.3,330.3,328.5,328.5,2158187,2.956446e+10,691,26438583.52,IFB EngineeringInd,شاخص_فني_مهندسي,328.5
644,فني_مهندسي6,20220517,328.4,328.8,327.7,327.7,2214606,3.026755e+10,514,26377772.47,IFB EngineeringInd,شاخص_فني_مهندسي,327.7
645,فني_مهندسي6,20220518,327.6,327.6,317.7,317.7,1418370,1.878874e+10,519,25566157.90,IFB EngineeringInd,شاخص_فني_مهندسي,317.7
646,فني_مهندسي6,20220521,318.5,319.8,319.8,319.8,1100497,1.467923e+10,398,25738791.02,IFB EngineeringInd,شاخص_فني_مهندسي,319.8
647,فني_مهندسي6,20220522,319.7,331.1,331.1,331.1,3523513,4.865614e+10,786,26651339.39,IFB EngineeringInd,شاخص_فني_مهندسي,331.1

##############


/content/IRXYXTPI0009.csv

,<TICKER>,<DTYYYYMMDD>,<OPEN>,<HIGH>,<LOW>,<CLOSE>,<VOL>,<OPENINT>,<OPENINT>.1,<OPENINT>.2,<COl12>,<COl13>,<LAST>
1505,شاخص_قيمت6,20210519,304645.0,304645.0,299930.0,299930.0,2837606733,1.561971e+13,232974,4.621316e+10,Total Price Index,شاخص_قيمت(وزني-ارزشي),299930.0
1506,شاخص_قيمت6,20210522,298484.0,298484.0,293004.0,293004.0,3140846699,1.542891e+13,171043,4.514616e+10,Total Price Index,شاخص_قيمت(وزني-ارزشي),293004.0
1507,شاخص_قيمت6,20210523,291512.0,291512.0,287463.0,287463.0,2736872962,1.429308e+13,195077,4.429764e+10,Total Price Index,شاخص_قيمت(وزني-ارزشي),287463.0
1508,شاخص_قيمت6,20210524,286718.0,286718.0,284253.0,284253.0,3100360796,1.610564e+13,252943,4.379279e+10,Total Price Index,شاخص_قيمت(وزني-ارزشي),284253.0
1509,شاخص_قيمت6,20210525,284020.0,286626.0,286520.0,286520.0,3828842175,2.090582e+13,349959,4.413669e+10,Total Price Index,شاخص_قيمت(وزني-ارزشي),286520.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1740,شاخص_قيمت6,20220516,386256.0,388345.0,388345.0,388345.0,10148885600,5.205224e+13,798234,6.297415e+10,Total Price Index,شاخص_قيمت(وزني-ارزشي),388345.0
1741,شاخص_قيمت6,20220517,389566.0,394089.0,393795.0,393795.0,10239274235,5.180431e+13,854852,6.385780e+10,Total Price Index,شاخص_قيمت(وزني-ارزشي),393795.0
1742,شاخص_قيمت6,20220518,393617.0,393617.0,391084.0,391084.0,8283025474,4.102303e+13,933043,6.341822e+10,Total Price Index,شاخص_قيمت(وزني-ارزشي),391084.0
1743,شاخص_قيمت6,20220521,389922.0,389922.0,387021.0,387021.0,8136842521,4.053541e+13,590090,6.279521e+10,Total Price Index,شاخص_قيمت(وزني-ارزشي),387021.0
1744,شاخص_قيمت6,20220522,386352.0,386983.0,386938.0,386938.0,6746482935,3.470973e+13,464806,6.278151e+10,Total Price Index,شاخص_قيمت(وزني-ارزشي),386938.0

##############


/content/IRX6XTPI0025.csv

,<TICKER>,<DTYYYYMMDD>,<OPEN>,<HIGH>,<LOW>,<CLOSE>,<VOL>,<OPENINT>,<OPENINT>.1,<OPENINT>.2,<COl12>,<COl13>,<LAST>
1505,شاخص_كل_(هم_وزن)6,20210519,402480.0,402480.0,396981.0,396981.0,2837606733,1.561971e+13,232974,5.058289e+10,TotalEquel Weithed,شاخص_كل_(هم_وزن),396981.0
1506,شاخص_كل_(هم_وزن)6,20210522,396274.0,396274.0,392148.0,392148.0,3140846699,1.542891e+13,171043,4.995992e+10,TotalEquel Weithed,شاخص_كل_(هم_وزن),392148.0
1507,شاخص_كل_(هم_وزن)6,20210523,391464.0,391464.0,388213.0,388213.0,2736872962,1.429308e+13,195077,4.941684e+10,TotalEquel Weithed,شاخص_كل_(هم_وزن),388213.0
1508,شاخص_كل_(هم_وزن)6,20210524,387709.0,387709.0,383217.0,383217.0,3100360796,1.610564e+13,252943,4.876418e+10,TotalEquel Weithed,شاخص_كل_(هم_وزن),383217.0
1509,شاخص_كل_(هم_وزن)6,20210525,382923.0,383624.0,382836.0,382836.0,3828842175,2.090582e+13,349959,4.871054e+10,TotalEquel Weithed,شاخص_كل_(هم_وزن),382836.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1740,شاخص_كل_(هم_وزن)6,20220516,446070.0,449336.0,449224.0,449224.0,10148885600,5.205224e+13,798234,6.713157e+10,TotalEquel Weithed,شاخص_كل_(هم_وزن),449224.0
1741,شاخص_كل_(هم_وزن)6,20220517,449953.0,450392.0,447809.0,447809.0,10239274235,5.180431e+13,854852,6.692013e+10,TotalEquel Weithed,شاخص_كل_(هم_وزن),447809.0
1742,شاخص_كل_(هم_وزن)6,20220518,447752.0,447752.0,442623.0,442623.0,8283025474,4.102303e+13,933043,6.613119e+10,TotalEquel Weithed,شاخص_كل_(هم_وزن),442623.0
1743,شاخص_كل_(هم_وزن)6,20220521,442720.0,442720.0,440180.0,440180.0,8136842521,4.053541e+13,590090,6.588863e+10,TotalEquel Weithed,شاخص_كل_(هم_وزن),440180.0
1744,شاخص_كل_(هم_وزن)6,20220522,440386.0,441841.0,441509.0,441509.0,6746482935,3.470973e+13,464806,6.598761e+10,TotalEquel Weithed,شاخص_كل_(هم_وزن),441509.0

##############


/content/IRX6XWAI0001.csv

,<TICKER>,<DTYYYYMMDD>,<OPEN>,<HIGH>,<LOW>,<CLOSE>,<VOL>,<OPENINT>,<OPENINT>.1,<OPENINT>.2,<COl12>,<COl13>,<LAST>
3005,شاخص_قيمت_50_شركت6,20210519,2502420.0,2502420.0,2482490.0,2482490.0,1469963433,6.847394e+12,80865,1.07,Top 50 Index,شاخص_قيمت_50_شركت,2482490.0
3006,شاخص_قيمت_50_شركت6,20210522,2472420.0,2472420.0,2424630.0,2424630.0,2220429736,8.194675e+12,66876,1.05,Top 50 Index,شاخص_قيمت_50_شركت,2424630.0
3007,شاخص_قيمت_50_شركت6,20210523,2417600.0,2417600.0,2375100.0,2375100.0,1615079738,6.368565e+12,76190,1.02,Top 50 Index,شاخص_قيمت_50_شركت,2375100.0
3008,شاخص_قيمت_50_شركت6,20210524,2371250.0,2371250.0,2349680.0,2349680.0,1113181295,5.194814e+12,76059,1.03,Top 50 Index,شاخص_قيمت_50_شركت,2349680.0
3009,شاخص_قيمت_50_شركت6,20210525,2350890.0,2366720.0,2366720.0,2366720.0,1093157186,6.893607e+12,88755,1.04,Top 50 Index,شاخص_قيمت_50_شركت,2366720.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3240,شاخص_قيمت_50_شركت6,20220516,4155200.0,4164620.0,4163340.0,4163340.0,3001561243,1.594050e+13,181335,0.93,Top 50 Index,شاخص_قيمت_50_شركت,4163340.0
3241,شاخص_قيمت_50_شركت6,20220517,4169000.0,4187690.0,4180850.0,4180850.0,2632780721,1.553541e+13,163939,0.93,Top 50 Index,شاخص_قيمت_50_شركت,4180850.0
3242,شاخص_قيمت_50_شركت6,20220518,4177080.0,4177080.0,4145280.0,4145280.0,2224841019,1.179552e+13,134467,0.92,Top 50 Index,شاخص_قيمت_50_شركت,4145280.0
3243,شاخص_قيمت_50_شركت6,20220521,4130950.0,4130950.0,4097810.0,4097810.0,1840801304,9.849296e+12,109637,0.91,Top 50 Index,شاخص_قيمت_50_شركت,4097810.0
3244,شاخص_قيمت_50_شركت6,20220522,4099890.0,4114950.0,4114340.0,4114340.0,1791172926,9.493231e+12,91178,0.91,Top 50 Index,شاخص_قيمت_50_شركت,4114340.0

##############


/content/IRXZXOBM0003.csv

,<TICKER>,<DTYYYYMMDD>,<OPEN>,<HIGH>,<LOW>,<CLOSE>,<VOL>,<OPENINT>,<OPENINT>.1,<OPENINT>.2,<COl12>,<COl13>,<LAST>
0,بازارپايه6,20211011,2306.3,2313.6,2307.4,2307.4,665317437,4.784702e+12,69867,3.731963e+09,IFB OTC BaseMarket,شاخص_بازار_پايه_فرابورس,2307.4
1,بازارپايه6,20211012,2306.4,2306.4,2284.8,2284.8,811672713,5.161772e+12,64283,3.695396e+09,IFB OTC BaseMarket,شاخص_بازار_پايه_فرابورس,2284.8
2,بازارپايه6,20211013,2281.2,2281.2,2266.8,2266.8,561248781,3.427409e+12,53441,3.666223e+09,IFB OTC BaseMarket,شاخص_بازار_پايه_فرابورس,2266.8
3,بازارپايه6,20211016,2267.4,2278.8,2278.8,2278.8,1020316640,4.751924e+12,83339,3.685597e+09,IFB OTC BaseMarket,شاخص_بازار_پايه_فرابورس,2278.8
4,بازارپايه6,20211017,2287.2,2287.8,2279.3,2279.3,872451373,5.502762e+12,66828,3.686496e+09,IFB OTC BaseMarket,شاخص_بازار_پايه_فرابورس,2279.3
5,بازارپايه6,20211018,2279.1,2281.4,2278.4,2278.4,822787365,6.176854e+12,56650,3.685003e+09,IFB OTC BaseMarket,شاخص_بازار_پايه_فرابورس,2278.4
6,بازارپايه6,20211019,2281.7,2286.4,2286.4,2286.4,567709708,4.778374e+12,50945,3.697988e+09,IFB OTC BaseMarket,شاخص_بازار_پايه_فرابورس,2286.4
7,بازارپايه6,20211020,2284.9,2290.8,2290.6,2290.6,829373763,4.769205e+12,61900,3.704733e+09,IFB OTC BaseMarket,شاخص_بازار_پايه_فرابورس,2290.6
8,بازارپايه6,20211023,2288.8,2288.8,2279.7,2279.7,573638602,5.920792e+12,42104,3.684478e+09,IFB OTC BaseMarket,شاخص_بازار_پايه_فرابورس,2279.7
9,بازارپايه6,20211025,2277.9,2278.3,2263.1,2263.1,602849561,4.620641e+12,45758,3.657631e+09,IFB OTC BaseMarket,شاخص_بازار_پايه_فرابورس,2263.1
10,بازارپايه6,20211026,2259.6,2259.6,2245.1,2245.1,547175873,3.669782e+12,45892,3.628627e+09,IFB OTC BaseMarket,شاخص_بازار_پايه_فرابورس,2245.1
11,بازارپايه6,20211027,2234.9,2234.9,2224.1,2224.1,646648144,3.572049e+12,52167,3.594663e+09,IFB OTC BaseMarket,شاخص_بازار_پايه_فرابورس,2224.1
12,بازارپايه6,20211030,2223.4,2224.4,2212.5,2212.5,617333973,4.015814e+12,89476,3.575845e+09,IFB OTC BaseMarket,شاخص_بازار_پايه_فرابورس,2212.5

##############


/content/IRX6XALS0002.csv

,<TICKER>,<DTYYYYMMDD>,<OPEN>,<HIGH>,<LOW>,<CLOSE>,<VOL>,<OPENINT>,<OPENINT>.1,<OPENINT>.2,<COl12>,<COl13>,<LAST>
3006,شاخص_بازار_دوم6,20210519,2370960.0,2371010.0,2340150.0,2340150.0,800884327,6.485609e+12,122931,2.063280e+10,Secondary Index,شاخص_بازار_دوم,2340150.0
3007,شاخص_بازار_دوم6,20210522,2336960.0,2336960.0,2294930.0,2294930.0,583617929,5.492114e+12,87720,2.023413e+10,Secondary Index,شاخص_بازار_دوم,2294930.0
3008,شاخص_بازار_دوم6,20210523,2289950.0,2289950.0,2256340.0,2256340.0,607249204,4.977319e+12,87455,1.985313e+10,Secondary Index,شاخص_بازار_دوم,2256340.0
3009,شاخص_بازار_دوم6,20210524,2253200.0,2253750.0,2245110.0,2245110.0,692614833,5.801915e+12,118337,1.974956e+10,Secondary Index,شاخص_بازار_دوم,2245110.0
3010,شاخص_بازار_دوم6,20210525,2248870.0,2267520.0,2263960.0,2263960.0,863838581,7.177756e+12,171786,1.991536e+10,Secondary Index,شاخص_بازار_دوم,2263960.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3241,شاخص_بازار_دوم6,20220516,2996210.0,3003340.0,3003340.0,3003340.0,4861112394,2.520446e+13,476970,2.790819e+10,Secondary Index,شاخص_بازار_دوم,3003340.0
3242,شاخص_بازار_دوم6,20220517,3005480.0,3040180.0,3037390.0,3037390.0,5442544212,2.609774e+13,560579,2.822464e+10,Secondary Index,شاخص_بازار_دوم,3037390.0
3243,شاخص_بازار_دوم6,20220518,3036050.0,3036050.0,3018270.0,3018270.0,3968662488,1.968140e+13,684880,2.804659e+10,Secondary Index,شاخص_بازار_دوم,3018270.0
3244,شاخص_بازار_دوم6,20220521,3012740.0,3012740.0,2987520.0,2987520.0,3872576301,2.033953e+13,359738,2.774569e+10,Secondary Index,شاخص_بازار_دوم,2987520.0
3245,شاخص_بازار_دوم6,20220522,2986930.0,2994630.0,2993290.0,2993290.0,2958949231,1.761853e+13,278995,2.779299e+10,Secondary Index,شاخص_بازار_دوم,2993290.0

##############


/content/IRXYXTPI0025.csv

,<TICKER>,<DTYYYYMMDD>,<OPEN>,<HIGH>,<LOW>,<CLOSE>,<VOL>,<OPENINT>,<OPENINT>.1,<OPENINT>.2,<COl12>,<COl13>,<LAST>
1504,شاخص_قيمت(هم_وزن6),20210519,260571.0,260571.0,257011.0,257011.0,2837606733,1.561971e+13,232974,5.058289e+10,TotalEqualWeightPr,شاخص_قيمت_(هم_وزن),257011.0
1505,شاخص_قيمت(هم_وزن6),20210522,256514.0,256514.0,253844.0,253844.0,3140846699,1.542891e+13,171043,4.995992e+10,TotalEqualWeightPr,شاخص_قيمت_(هم_وزن),253844.0
1506,شاخص_قيمت(هم_وزن6),20210523,253187.0,253187.0,251084.0,251084.0,2736872962,1.429308e+13,195077,4.941684e+10,TotalEqualWeightPr,شاخص_قيمت_(هم_وزن),251084.0
1507,شاخص_قيمت(هم_وزن6),20210524,250672.0,250672.0,247768.0,247768.0,3100360796,1.610564e+13,252943,4.876418e+10,TotalEqualWeightPr,شاخص_قيمت_(هم_وزن),247768.0
1508,شاخص_قيمت(هم_وزن6),20210525,247551.0,248004.0,247495.0,247495.0,3828842175,2.090582e+13,349959,4.871054e+10,TotalEqualWeightPr,شاخص_قيمت_(هم_وزن),247495.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1739,شاخص_قيمت(هم_وزن6),20220516,276266.0,278289.0,278220.0,278220.0,10148885600,5.205224e+13,798234,6.713157e+10,TotalEqualWeightPr,شاخص_قيمت_(هم_وزن),278220.0
1740,شاخص_قيمت(هم_وزن6),20220517,278671.0,278943.0,277344.0,277344.0,10239274235,5.180431e+13,854852,6.692013e+10,TotalEqualWeightPr,شاخص_قيمت_(هم_وزن),277344.0
1741,شاخص_قيمت(هم_وزن6),20220518,277249.0,277249.0,274074.0,274074.0,8283025474,4.102303e+13,933043,6.613119e+10,TotalEqualWeightPr,شاخص_قيمت_(هم_وزن),274074.0
1742,شاخص_قيمت(هم_وزن6),20220521,273924.0,273924.0,272353.0,272353.0,8136842521,4.053541e+13,590090,6.588863e+10,TotalEqualWeightPr,شاخص_قيمت_(هم_وزن),272353.0
1743,شاخص_قيمت(هم_وزن6),20220522,272068.0,272967.0,272762.0,272762.0,6746482935,3.470973e+13,464806,6.598761e+10,TotalEqualWeightPr,شاخص_قيمت_(هم_وزن),272762.0

##############


/content/IRX6XTPI0009.csv

,<TICKER>,<DTYYYYMMDD>,<OPEN>,<HIGH>,<LOW>,<CLOSE>,<VOL>,<OPENINT>,<OPENINT>.1,<OPENINT>.2,<COl12>,<COl13>,<LAST>
3003,شاخص_كل6,20210519,1172920.0,1172920.0,1154767.9,1154767.9,2837606733,1.561971e+13,232974,4.621316e+10,Overall Index,شاخص_كل,1154767.9
3004,شاخص_كل6,20210522,1149260.0,1149260.0,1128164.1,1128164.1,3140846699,1.542891e+13,171043,4.514616e+10,Overall Index,شاخص_كل,1128164.1
3005,شاخص_كل6,20210523,1123500.0,1123500.0,1107900.3,1107900.3,2736872962,1.429308e+13,195077,4.429764e+10,Overall Index,شاخص_كل,1107900.3
3006,شاخص_كل6,20210524,1105220.0,1105220.0,1095726.2,1095726.2,3100360796,1.610564e+13,252943,4.379279e+10,Overall Index,شاخص_كل,1095726.2
3007,شاخص_كل6,20210525,1095800.0,1105850.0,1105446.0,1105446.0,3828842175,2.090582e+13,349959,4.413669e+10,Overall Index,شاخص_كل,1105446.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3238,شاخص_كل6,20220516,1575270.0,1583800.0,1583800.5,1583800.5,10148885600,5.205224e+13,798234,6.297415e+10,Overall Index,شاخص_كل,1583800.5
3239,شاخص_كل6,20220517,1588770.0,1607220.0,1606024.3,1606024.3,10239274235,5.180431e+13,854852,6.385780e+10,Overall Index,شاخص_كل,1606024.3
3240,شاخص_كل6,20220518,1605300.0,1605300.0,1594977.7,1594977.7,8283025474,4.102303e+13,933043,6.341822e+10,Overall Index,شاخص_كل,1594977.7
3241,شاخص_كل6,20220521,1591530.0,1591530.0,1579691.1,1579691.1,8136842521,4.053541e+13,590090,6.279521e+10,Overall Index,شاخص_كل,1579691.1
3242,شاخص_كل6,20220522,1579740.0,1582320.0,1582144.3,1582144.3,6746482935,3.470973e+13,464806,6.278151e+10,Overall Index,شاخص_كل,1582144.3

##############

In [47]:
pd.read_csv("/content/IRXZXOCI0008.csv", encoding="UTF-16", delimiter=",")["<DTYYYYMMDD>"].values[range(0,2182,100)]

array([20130504, 20130930, 20140225, 20140802, 20141229, 20150530,
       20151025, 20160326, 20160820, 20170118, 20170621, 20171121,
       20180424, 20180918, 20190213, 20190720, 20191217, 20200518,
       20201014, 20210310, 20210822, 20220112])

In [46]:
len(pd.read_csv("/content/IRXZXOCI0008.csv", encoding="UTF-16", delimiter=",")["<DTYYYYMMDD>"].values)

2182