<a href="https://colab.research.google.com/github/AUT-Student/NN-HW6/blob/main/NN_HW6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Library

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
import glob
from copy import deepcopy
from IPython.display import display

import tensorflow as tf
import tensorflow.keras as keras
from keras.layers import Input, Dense, LSTM, GRU, BatchNormalization, Dropout
from keras.models import Sequential
from keras.callbacks import EarlyStopping

# Dataset

## Load

In [ ]:
!gdown 1SLrmOfW66WQc-zrfo-gX-g2dDA4pAw1F

Downloading...
From: https://drive.google.com/uc?id=1SLrmOfW66WQc-zrfo-gX-g2dDA4pAw1F
To: /content/NN_HW6_Dataset.zip
100% 1.80M/1.80M [00:00<00:00, 126MB/s]

In [ ]:
!unzip /content/NN_HW6_Dataset.zip

Archive:  /content/NN_HW6_Dataset.zip
  inflating: IRX6XAFF0005.csv
  inflating: IRX6XALS0002.csv
  inflating: IRX6XS300003.csv
  inflating: IRX6XSLC0000.csv
  inflating: IRX6XSNT0009.csv
  inflating: IRX6XTAL0001.csv
  inflating: IRX6XTDP0004.csv
  inflating: IRX6XTPI0009.csv
  inflating: IRX6XTPI0009[2022-05-23-10-18-57].csv
  inflating: IRX6XTPI0025.csv
  inflating: IRX6XWAI0001.csv
  inflating: IRX6XWTH0001.csv
  inflating: IRXWXEXR0007.csv
  inflating: IRXWXEXR0023.csv
  inflating: IRXWXOCI0001.csv
  inflating: IRXWXOCI0027.csv
  inflating: IRXYXTPI0009.csv
  inflating: IRXYXTPI0025.csv
  inflating: IRXZXAGR0009.csv
  inflating: IRXZXBNK0006.csv
  inflating: IRXZXCMI0000.csv
  inflating: IRXZXCML0005.csv
  inflating: IRXZXCNS0007.csv
  inflating: IRXZXENG0009.csv
  inflating: IRXZXEXR0004.csv
  inflating: IRXZXEXR0020.csv
  inflating: IRXZXFIN0006.csv
  inflating: IRXZXFOD0000.csv
  inflating: IRXZXHTL0003.csv
  inflating: IRXZXIND0008.csv
  inflating: IRXZXINS0001.csv
  inflating: IRXZXINV0006.csv
  inflating: IRXZXITG0009.csv
  inflating: IRXZXLSG0005.csv
  inflating: IRXZXMIN0007.csv
  inflating: IRXZXMML0003.csv
  inflating: IRXZXMNF0000.csv
  inflating: IRXZXMOT0003.csv
  inflating: IRXZXMTL0006.csv
  inflating: IRXZXNMM0001.csv
  inflating: IRXZXOBM0003.csv
  inflating: IRXZXOCI0008.csv
  inflating: IRXZXOCI0024.csv
  inflating: IRXZXOEW0008.csv
  inflating: IRXZXOIL0007.csv
  inflating: IRXZXOUT0003.csv
  inflating: IRXZXPHM0006.csv
  inflating: IRXZXRTL0001.csv
  inflating: IRXZXSRV0000.csv
  inflating: IRXZXTEX0002.csv
  inflating: IRXZXTRI0006.csv
  inflating: IRXZXWDI0007.csv

## Merge

In [ ]:
pathes = glob.glob("/content/*.csv")

merged_dataset = None

for path in pathes:
  sub_dataset = pd.read_csv(path, encoding="UTF-16", delimiter=",")
  sub_dataset = sub_dataset[sub_dataset["<DTYYYYMMDD>"] >= 20210522]

  if len(sub_dataset)>=238:
    index_name = sub_dataset["<COl12>"].values[0]
    print(path)
    print(index_name)
    print(sub_dataset["<TICKER>"].values[0])
    sub_dataset = sub_dataset[["<DTYYYYMMDD>",	"<OPEN>",	"<HIGH>", "<LOW>",
                               "<CLOSE>",	"<VOL>",	"<OPENINT>",	"<OPENINT>.1",
                               "<OPENINT>.2"	]]

    sub_dataset = sub_dataset.add_prefix(prefix=index_name + " ")

    sub_dataset = sub_dataset.rename({f"{index_name} <DTYYYYMMDD>": "<DTYYYYMMDD>"}, axis=1)

    display(sub_dataset)

    if merged_dataset is None:
      merged_dataset = deepcopy(sub_dataset)
    else:
      merged_dataset = merged_dataset.merge(sub_dataset, on="<DTYYYYMMDD>", how="inner")

    print("##############\n\n")

/content/IRXZXOCI0008.csv
OTC Overall Index
شاخص_كل_فرابورس6

,<DTYYYYMMDD>,OTC Overall Index <OPEN>,OTC Overall Index <HIGH>,OTC Overall Index <LOW>,OTC Overall Index <CLOSE>,OTC Overall Index <VOL>,OTC Overall Index <OPENINT>,OTC Overall Index <OPENINT>.1,OTC Overall Index <OPENINT>.2
1944,20210522,17810.8,17816.8,17676.4,17676.4,443477753,3.223291e+12,90258,1.183554e+10
1945,20210523,17642.9,17642.9,17503.9,17503.9,598258196,3.181944e+12,98344,1.169097e+10
1946,20210524,17499.8,17504.5,17476.5,17476.5,529694599,2.683259e+12,115169,1.165787e+10
1947,20210525,17474.0,17552.8,17552.8,17552.8,605556635,3.236629e+12,205382,1.170879e+10
1948,20210526,17553.4,17582.5,17582.3,17582.3,528637682,2.898542e+12,233866,1.172845e+10
...,...,...,...,...,...,...,...,...,...
2177,20220516,21553.8,21620.7,21620.7,21620.7,2465155499,1.561998e+13,345395,1.190409e+10
2178,20220517,21644.3,21695.6,21689.7,21689.7,2629661250,1.531904e+13,303832,1.200937e+10
2179,20220518,21620.7,21671.6,21643.8,21643.8,1843016966,1.139007e+13,262424,1.197906e+10
2180,20220521,21612.6,21612.6,21539.4,21539.4,1422075970,8.965528e+12,182173,1.192066e+10
2181,20220522,21546.3,21578.5,21565.8,21565.8,1520177827,1.114881e+13,199379,1.192882e+10

##############


/content/IRX6XSNT0009.csv
Industy Index
شاخص_صنعت6

,<DTYYYYMMDD>,Industy Index <OPEN>,Industy Index <HIGH>,Industy Index <LOW>,Industy Index <CLOSE>,Industy Index <VOL>,Industy Index <OPENINT>,Industy Index <OPENINT>.1,Industy Index <OPENINT>.2
3007,20210522,992706.0,992706.0,974675.0,974675.0,2138516996,1.113298e+13,132814,3.637847e+10
3008,20210523,968432.0,968432.0,956210.0,956210.0,1960930556,1.185582e+13,155363,3.565174e+10
3009,20210524,953029.0,953453.0,950072.0,950072.0,1892545187,1.245752e+13,195946,3.540903e+10
3010,20210525,953288.0,961846.0,961846.0,961846.0,2220851084,1.441892e+13,263828,3.580313e+10
3011,20210526,963015.0,966806.0,965719.0,965719.0,2210639177,1.271506e+13,309912,3.595344e+10
...,...,...,...,...,...,...,...,...,...
3241,20220516,1469370.0,1474700.0,1474700.0,1474700.0,8469576514,4.493093e+13,685740,5.472715e+10
3242,20220517,1483100.0,1498830.0,1497690.0,1497690.0,8366404232,4.467476e+13,753123,5.558027e+10
3243,20220518,1494950.0,1494950.0,1487150.0,1487150.0,7188312476,3.688831e+13,858950,5.518893e+10
3244,20220521,1478060.0,1478060.0,1469790.0,1469790.0,6502579033,3.478897e+13,511516,5.452978e+10
3245,20220522,1470750.0,1472510.0,1472450.0,1472450.0,5339859252,2.970570e+13,398245,5.451849e+10

##############


/content/IRX6XAFF0005.csv
Free Float Index
شاخص_آزاد_شناور6

,<DTYYYYMMDD>,Free Float Index <OPEN>,Free Float Index <HIGH>,Free Float Index <LOW>,Free Float Index <CLOSE>,Free Float Index <VOL>,Free Float Index <OPENINT>,Free Float Index <OPENINT>.1,Free Float Index <OPENINT>.2
2872,20210522,1653220.0,1653220.0,1631080.0,1631080.0,3140846699,1.542891e+13,171043,1.218888e+11
2873,20210523,1623890.0,1623890.0,1607280.0,1607280.0,2736872962,1.429308e+13,195077,1.200775e+11
2874,20210524,1603870.0,1603870.0,1591260.0,1591260.0,3100360796,1.610564e+13,252943,1.188583e+11
2875,20210525,1590940.0,1601750.0,1600280.0,1600280.0,3828842175,2.090582e+13,349959,1.194969e+11
2876,20210526,1600910.0,1606120.0,1603500.0,1603500.0,3187572389,1.646125e+13,389162,1.197366e+11
...,...,...,...,...,...,...,...,...,...
3106,20220516,2005940.0,2017710.0,2017710.0,2017710.0,10148885600,5.205224e+13,798234,1.701319e+11
3107,20220517,2026770.0,2041520.0,2038090.0,2038090.0,10239274235,5.180431e+13,854852,1.718504e+11
3108,20220518,2036670.0,2036670.0,2021360.0,2021360.0,8283025474,4.102303e+13,933043,1.704382e+11
3109,20220521,2016250.0,2016250.0,2006790.0,2006790.0,8136842521,4.053541e+13,590090,1.691946e+11
3110,20220522,2007140.0,2010340.0,2009140.0,2009140.0,6746482935,3.470973e+13,464806,1.676385e+11

##############


/content/IRX6XSLC0000.csv
Top 50 Index
شاخص50شركت_فعالتر6

,<DTYYYYMMDD>,Top 50 Index <OPEN>,Top 50 Index <HIGH>,Top 50 Index <LOW>,Top 50 Index <CLOSE>,Top 50 Index <VOL>,Top 50 Index <OPENINT>,Top 50 Index <OPENINT>.1,Top 50 Index <OPENINT>.2
3006,20210522,42850.4,42850.4,42088.1,42088.1,2452589028,1.115695e+13,108702,3.082945e+10
3007,20210523,41674.3,41674.3,41174.9,41174.9,1973926136,9.376746e+12,116407,3.012145e+10
3008,20210524,41020.6,41020.6,40656.9,40656.9,2246637445,1.077543e+13,149581,2.973223e+10
3009,20210525,40813.7,41180.4,41180.4,41180.4,2602456044,1.435310e+13,208396,3.007551e+10
3010,20210526,41250.7,41429.6,41373.7,41373.7,2052830131,9.925398e+12,236951,3.022632e+10
...,...,...,...,...,...,...,...,...,...
3240,20220516,62672.1,62898.3,62898.3,62898.3,4277368787,1.846448e+13,233327,4.780063e+10
3241,20220517,63295.3,64159.0,64113.6,64113.6,5255373178,2.254399e+13,233323,4.872419e+10
3242,20220518,63983.2,63983.2,63738.8,63738.8,4046007971,1.693587e+13,202238,4.843938e+10
3243,20220521,63309.0,63309.0,63033.3,63033.3,3797923293,1.669022e+13,180344,4.785424e+10
3244,20220522,63076.6,63144.3,63144.3,63144.3,2952600264,1.291217e+13,133072,4.783824e+10

##############


/content/IRXZXCMI0000.csv
IFB Capital Market
شاخص_اركان_و_مالي6

,<DTYYYYMMDD>,IFB Capital Market <OPEN>,IFB Capital Market <HIGH>,IFB Capital Market <LOW>,IFB Capital Market <CLOSE>,IFB Capital Market <VOL>,IFB Capital Market <OPENINT>,IFB Capital Market <OPENINT>.1,IFB Capital Market <OPENINT>.2
427,20210522,477.5,477.5,477.3,477.3,8647,2.547233e+08,9,8.678889e+07
428,20210523,477.3,477.3,477.1,477.1,12453,3.667035e+08,9,8.674067e+07
429,20210524,477.1,477.1,476.5,476.5,27720,8.158273e+08,11,8.663340e+07
430,20210525,476.3,476.3,475.8,475.8,33214,9.762923e+08,27,8.650499e+07
431,20210526,475.7,475.7,474.9,474.9,40284,1.182376e+09,27,8.634953e+07
...,...,...,...,...,...,...,...,...,...
660,20220516,622.4,626.7,625.9,625.9,34510072,5.537491e+11,7716,1.123221e+08
661,20220517,614.9,618.6,600.3,600.3,31564212,4.857666e+11,6809,1.077285e+08
662,20220518,593.9,598.1,590.3,590.3,15661490,2.369858e+11,4090,1.059223e+08
663,20220521,578.5,587.1,586.7,586.7,16575223,2.492750e+11,3613,1.052731e+08
664,20220522,593.2,593.2,587.2,587.2,15185492,2.285855e+11,2940,1.053702e+08

##############


/content/IRX6XTAL0001.csv
Main Board Index
شاخص_بازار_اول6

,<DTYYYYMMDD>,Main Board Index <OPEN>,Main Board Index <HIGH>,Main Board Index <LOW>,Main Board Index <CLOSE>,Main Board Index <VOL>,Main Board Index <OPENINT>,Main Board Index <OPENINT>.1,Main Board Index <OPENINT>.2
3007,20210522,837328.0,837328.0,821699.0,821699.0,2557228770,9.936791e+12,83323,2.491204e+10
3008,20210523,817003.0,817003.0,806177.0,806177.0,2129623758,9.315758e+12,107622,2.444451e+10
3009,20210524,803563.0,803563.0,793381.0,793381.0,2407745963,1.030373e+13,134606,2.404324e+10
3010,20210525,792387.0,800729.0,800729.0,800729.0,2965003594,1.372807e+13,178173,2.422133e+10
3011,20210526,800913.0,805615.0,804881.0,804881.0,2424972531,1.004949e+13,188075,2.435671e+10
...,...,...,...,...,...,...,...,...,...
3241,20220516,1210680.0,1220170.0,1220170.0,1220170.0,5287773206,2.684778e+13,321264,3.506596e+10
3242,20220517,1226360.0,1242750.0,1239910.0,1239910.0,4796730023,2.570657e+13,294273,3.563316e+10
3243,20220518,1239350.0,1239350.0,1230810.0,1230810.0,4314362986,2.134163e+13,248163,3.537163e+10
3244,20220521,1227830.0,1227830.0,1219600.0,1219600.0,4264266220,2.019588e+13,230352,3.504952e+10
3245,20220522,1219870.0,1221260.0,1221130.0,1221130.0,3787533704,1.709121e+13,185811,3.498852e+10

##############


/content/IRX6XS300003.csv
Top 30 Index
شاخص_30_شركت_بزرگ6

,<DTYYYYMMDD>,Top 30 Index <OPEN>,Top 30 Index <HIGH>,Top 30 Index <LOW>,Top 30 Index <CLOSE>,Top 30 Index <VOL>,Top 30 Index <OPENINT>,Top 30 Index <OPENINT>.1,Top 30 Index <OPENINT>.2
2598,20210522,60961.4,60961.4,59473.1,59473.1,2084505595,8.512733e+12,74587,5.147724e+10
2599,20210523,59165.5,59165.5,58036.3,58036.3,1650259796,7.209675e+12,84994,5.019854e+10
2600,20210524,57918.9,57918.9,57121.7,57121.7,1550090909,8.115469e+12,101313,4.940473e+10
2601,20210525,57071.5,57932.2,57926.9,57926.9,1778988756,1.082800e+13,129356,5.010120e+10
2602,20210526,57946.0,58361.3,58262.2,58262.2,1529917417,7.111228e+12,141237,5.039119e+10
...,...,...,...,...,...,...,...,...,...
2832,20220516,88405.1,89025.7,89025.7,89025.7,2995422468,1.299348e+13,165948,9.654351e+10
2833,20220517,89249.5,90776.8,90669.3,90669.3,4163822460,1.746462e+13,176160,9.832590e+10
2834,20220518,90643.6,90643.6,89915.2,89915.2,3036179212,1.314405e+13,154964,9.750820e+10
2835,20220521,89813.0,89813.0,89072.6,89072.6,2909881363,1.182412e+13,133465,9.659439e+10
2836,20220522,89072.1,89225.0,89204.6,89204.6,2703754347,1.029509e+13,110342,9.791925e+10

##############


/content/IRXZXTRI0006.csv
IFB Tire Index
لاستيك6

,<DTYYYYMMDD>,IFB Tire Index <OPEN>,IFB Tire Index <HIGH>,IFB Tire Index <LOW>,IFB Tire Index <CLOSE>,IFB Tire Index <VOL>,IFB Tire Index <OPENINT>,IFB Tire Index <OPENINT>.1,IFB Tire Index <OPENINT>.2
240,20210522,145.0,145.0,140.6,140.6,176510,9.566142e+09,1412,28093928.57
241,20210523,140.1,140.1,137.3,137.3,125683,6.581739e+09,856,27433098.31
242,20210524,136.7,136.7,130.5,130.5,372117,1.902584e+10,1742,26075617.06
243,20210525,129.0,129.0,127.3,127.3,329405,1.643148e+10,4260,25439980.49
244,20210526,127.0,132.3,132.3,132.3,803187,4.162164e+10,6566,26428508.30
...,...,...,...,...,...,...,...,...,...
473,20220516,143.7,145.1,145.1,145.1,3131141,4.121176e+10,3594,26850275.21
474,20220517,146.9,147.2,145.8,145.8,2445656,3.234270e+10,2540,26978077.81
475,20220518,141.1,141.1,140.3,140.3,2249722,2.863145e+10,2462,25962391.33
476,20220521,138.7,145.6,145.6,145.6,7329048,9.683861e+10,2423,26954491.62
477,20220522,148.8,148.8,147.7,147.7,2758038,3.695696e+10,1714,27335447.14

##############


/content/IRXZXWDI0007.csv
IFB Wood Index
چوب6

,<DTYYYYMMDD>,IFB Wood Index <OPEN>,IFB Wood Index <HIGH>,IFB Wood Index <LOW>,IFB Wood Index <CLOSE>,IFB Wood Index <VOL>,IFB Wood Index <OPENINT>,IFB Wood Index <OPENINT>.1,IFB Wood Index <OPENINT>.2
110,20210522,138.1,138.1,137.6,137.6,35916,1.126829e+09,45,6578936.37
111,20210523,137.6,137.6,137.3,137.3,22722,7.100625e+08,23,6562351.39
112,20210524,137.3,137.3,137.0,137.0,18505,5.768379e+08,30,6548990.06
113,20210525,137.0,137.0,136.8,136.8,15680,4.877734e+08,24,6537687.87
114,20210526,136.7,136.7,136.5,136.5,18479,5.738469e+08,55,6524388.59
...,...,...,...,...,...,...,...,...,...
343,20220516,0.0,141.8,141.8,141.8,0,0.000000e+00,0,6780641.46
344,20220517,145.2,148.5,146.5,146.5,804823,2.630652e+10,3090,6537218.59
345,20220518,147.2,147.9,145.8,145.8,930406,3.027099e+10,6257,6507050.49
346,20220521,140.4,141.0,139.8,139.8,1423015,4.438751e+10,2861,6238516.65
347,20220522,142.3,142.8,142.2,142.2,515569,1.635842e+10,2006,6345772.13

##############


/content/IRXZXENG0009.csv
IFB EngineeringInd
فني_مهندسي6

,<DTYYYYMMDD>,IFB EngineeringInd <OPEN>,IFB EngineeringInd <HIGH>,IFB EngineeringInd <LOW>,IFB EngineeringInd <CLOSE>,IFB EngineeringInd <VOL>,IFB EngineeringInd <OPENINT>,IFB EngineeringInd <OPENINT>.1,IFB EngineeringInd <OPENINT>.2
410,20210522,400.8,400.8,400.7,400.7,3480,7.360896e+07,4,33388296.28
411,20210523,400.6,400.6,400.1,400.1,18650,3.943916e+08,5,33342127.04
412,20210524,400.1,400.1,400.1,400.1,855,1.805504e+07,2,33340011.92
413,20210525,400.1,400.1,398.3,398.3,61729,1.303470e+09,9,33187361.42
414,20210526,398.2,398.2,397.8,397.8,16705,3.511224e+08,10,33146228.70
...,...,...,...,...,...,...,...,...,...
643,20220516,330.3,330.3,328.5,328.5,2158187,2.956446e+10,691,26438583.52
644,20220517,328.4,328.8,327.7,327.7,2214606,3.026755e+10,514,26377772.47
645,20220518,327.6,327.6,317.7,317.7,1418370,1.878874e+10,519,25566157.90
646,20220521,318.5,319.8,319.8,319.8,1100497,1.467923e+10,398,25738791.02
647,20220522,319.7,331.1,331.1,331.1,3523513,4.865614e+10,786,26651339.39

##############


/content/IRXYXTPI0009.csv
Total Price Index
شاخص_قيمت6

,<DTYYYYMMDD>,Total Price Index <OPEN>,Total Price Index <HIGH>,Total Price Index <LOW>,Total Price Index <CLOSE>,Total Price Index <VOL>,Total Price Index <OPENINT>,Total Price Index <OPENINT>.1,Total Price Index <OPENINT>.2
1506,20210522,298484.0,298484.0,293004.0,293004.0,3140846699,1.542891e+13,171043,4.514616e+10
1507,20210523,291512.0,291512.0,287463.0,287463.0,2736872962,1.429308e+13,195077,4.429764e+10
1508,20210524,286718.0,286718.0,284253.0,284253.0,3100360796,1.610564e+13,252943,4.379279e+10
1509,20210525,284020.0,286626.0,286520.0,286520.0,3828842175,2.090582e+13,349959,4.413669e+10
1510,20210526,286741.0,287823.0,287514.0,287514.0,3187572389,1.646125e+13,389162,4.429966e+10
...,...,...,...,...,...,...,...,...,...
1740,20220516,386256.0,388345.0,388345.0,388345.0,10148885600,5.205224e+13,798234,6.297415e+10
1741,20220517,389566.0,394089.0,393795.0,393795.0,10239274235,5.180431e+13,854852,6.385780e+10
1742,20220518,393617.0,393617.0,391084.0,391084.0,8283025474,4.102303e+13,933043,6.341822e+10
1743,20220521,389922.0,389922.0,387021.0,387021.0,8136842521,4.053541e+13,590090,6.279521e+10
1744,20220522,386352.0,386983.0,386938.0,386938.0,6746482935,3.470973e+13,464806,6.278151e+10

##############


/content/IRX6XTPI0025.csv
TotalEquel Weithed
شاخص_كل_(هم_وزن)6

,<DTYYYYMMDD>,TotalEquel Weithed <OPEN>,TotalEquel Weithed <HIGH>,TotalEquel Weithed <LOW>,TotalEquel Weithed <CLOSE>,TotalEquel Weithed <VOL>,TotalEquel Weithed <OPENINT>,TotalEquel Weithed <OPENINT>.1,TotalEquel Weithed <OPENINT>.2
1506,20210522,396274.0,396274.0,392148.0,392148.0,3140846699,1.542891e+13,171043,4.995992e+10
1507,20210523,391464.0,391464.0,388213.0,388213.0,2736872962,1.429308e+13,195077,4.941684e+10
1508,20210524,387709.0,387709.0,383217.0,383217.0,3100360796,1.610564e+13,252943,4.876418e+10
1509,20210525,382923.0,383624.0,382836.0,382836.0,3828842175,2.090582e+13,349959,4.871054e+10
1510,20210526,382995.0,383533.0,383140.0,383140.0,3187572389,1.646125e+13,389162,4.873278e+10
...,...,...,...,...,...,...,...,...,...
1740,20220516,446070.0,449336.0,449224.0,449224.0,10148885600,5.205224e+13,798234,6.713157e+10
1741,20220517,449953.0,450392.0,447809.0,447809.0,10239274235,5.180431e+13,854852,6.692013e+10
1742,20220518,447752.0,447752.0,442623.0,442623.0,8283025474,4.102303e+13,933043,6.613119e+10
1743,20220521,442720.0,442720.0,440180.0,440180.0,8136842521,4.053541e+13,590090,6.588863e+10
1744,20220522,440386.0,441841.0,441509.0,441509.0,6746482935,3.470973e+13,464806,6.598761e+10

##############


/content/IRX6XWAI0001.csv
Top 50 Index
شاخص_قيمت_50_شركت6

,<DTYYYYMMDD>,Top 50 Index <OPEN>,Top 50 Index <HIGH>,Top 50 Index <LOW>,Top 50 Index <CLOSE>,Top 50 Index <VOL>,Top 50 Index <OPENINT>,Top 50 Index <OPENINT>.1,Top 50 Index <OPENINT>.2
3006,20210522,2472420.0,2472420.0,2424630.0,2424630.0,2220429736,8.194675e+12,66876,1.05
3007,20210523,2417600.0,2417600.0,2375100.0,2375100.0,1615079738,6.368565e+12,76190,1.02
3008,20210524,2371250.0,2371250.0,2349680.0,2349680.0,1113181295,5.194814e+12,76059,1.03
3009,20210525,2350890.0,2366720.0,2366720.0,2366720.0,1093157186,6.893607e+12,88755,1.04
3010,20210526,2368260.0,2377260.0,2377070.0,2377070.0,1391399110,5.844937e+12,114626,1.02
...,...,...,...,...,...,...,...,...,...
3240,20220516,4155200.0,4164620.0,4163340.0,4163340.0,3001561243,1.594050e+13,181335,0.93
3241,20220517,4169000.0,4187690.0,4180850.0,4180850.0,2632780721,1.553541e+13,163939,0.93
3242,20220518,4177080.0,4177080.0,4145280.0,4145280.0,2224841019,1.179552e+13,134467,0.92
3243,20220521,4130950.0,4130950.0,4097810.0,4097810.0,1840801304,9.849296e+12,109637,0.91
3244,20220522,4099890.0,4114950.0,4114340.0,4114340.0,1791172926,9.493231e+12,91178,0.91

##############


/content/IRX6XALS0002.csv
Secondary Index
شاخص_بازار_دوم6

,<DTYYYYMMDD>,Secondary Index <OPEN>,Secondary Index <HIGH>,Secondary Index <LOW>,Secondary Index <CLOSE>,Secondary Index <VOL>,Secondary Index <OPENINT>,Secondary Index <OPENINT>.1,Secondary Index <OPENINT>.2
3007,20210522,2336960.0,2336960.0,2294930.0,2294930.0,583617929,5.492114e+12,87720,2.023413e+10
3008,20210523,2289950.0,2289950.0,2256340.0,2256340.0,607249204,4.977319e+12,87455,1.985313e+10
3009,20210524,2253200.0,2253750.0,2245110.0,2245110.0,692614833,5.801915e+12,118337,1.974956e+10
3010,20210525,2248870.0,2267520.0,2263960.0,2263960.0,863838581,7.177756e+12,171786,1.991536e+10
3011,20210526,2267610.0,2271140.0,2267490.0,2267490.0,762599858,6.411759e+12,201087,1.994295e+10
...,...,...,...,...,...,...,...,...,...
3241,20220516,2996210.0,3003340.0,3003340.0,3003340.0,4861112394,2.520446e+13,476970,2.790819e+10
3242,20220517,3005480.0,3040180.0,3037390.0,3037390.0,5442544212,2.609774e+13,560579,2.822464e+10
3243,20220518,3036050.0,3036050.0,3018270.0,3018270.0,3968662488,1.968140e+13,684880,2.804659e+10
3244,20220521,3012740.0,3012740.0,2987520.0,2987520.0,3872576301,2.033953e+13,359738,2.774569e+10
3245,20220522,2986930.0,2994630.0,2993290.0,2993290.0,2958949231,1.761853e+13,278995,2.779299e+10

##############


/content/IRXYXTPI0025.csv
TotalEqualWeightPr
شاخص_قيمت(هم_وزن6)

,<DTYYYYMMDD>,TotalEqualWeightPr <OPEN>,TotalEqualWeightPr <HIGH>,TotalEqualWeightPr <LOW>,TotalEqualWeightPr <CLOSE>,TotalEqualWeightPr <VOL>,TotalEqualWeightPr <OPENINT>,TotalEqualWeightPr <OPENINT>.1,TotalEqualWeightPr <OPENINT>.2
1505,20210522,256514.0,256514.0,253844.0,253844.0,3140846699,1.542891e+13,171043,4.995992e+10
1506,20210523,253187.0,253187.0,251084.0,251084.0,2736872962,1.429308e+13,195077,4.941684e+10
1507,20210524,250672.0,250672.0,247768.0,247768.0,3100360796,1.610564e+13,252943,4.876418e+10
1508,20210525,247551.0,248004.0,247495.0,247495.0,3828842175,2.090582e+13,349959,4.871054e+10
1509,20210526,247514.0,247861.0,247608.0,247608.0,3187572389,1.646125e+13,389162,4.873278e+10
...,...,...,...,...,...,...,...,...,...
1739,20220516,276266.0,278289.0,278220.0,278220.0,10148885600,5.205224e+13,798234,6.713157e+10
1740,20220517,278671.0,278943.0,277344.0,277344.0,10239274235,5.180431e+13,854852,6.692013e+10
1741,20220518,277249.0,277249.0,274074.0,274074.0,8283025474,4.102303e+13,933043,6.613119e+10
1742,20220521,273924.0,273924.0,272353.0,272353.0,8136842521,4.053541e+13,590090,6.588863e+10
1743,20220522,272068.0,272967.0,272762.0,272762.0,6746482935,3.470973e+13,464806,6.598761e+10

##############


/content/IRX6XTPI0009.csv
Overall Index
شاخص_كل6

,<DTYYYYMMDD>,Overall Index <OPEN>,Overall Index <HIGH>,Overall Index <LOW>,Overall Index <CLOSE>,Overall Index <VOL>,Overall Index <OPENINT>,Overall Index <OPENINT>.1,Overall Index <OPENINT>.2
3004,20210522,1149260.0,1149260.0,1128164.1,1128164.1,3140846699,1.542891e+13,171043,4.514616e+10
3005,20210523,1123500.0,1123500.0,1107900.3,1107900.3,2736872962,1.429308e+13,195077,4.429764e+10
3006,20210524,1105220.0,1105220.0,1095726.2,1095726.2,3100360796,1.610564e+13,252943,4.379279e+10
3007,20210525,1095800.0,1105850.0,1105446.0,1105446.0,3828842175,2.090582e+13,349959,4.413669e+10
3008,20210526,1106380.0,1110560.0,1109369.6,1109369.6,3187572389,1.646125e+13,389162,4.429966e+10
...,...,...,...,...,...,...,...,...,...
3238,20220516,1575270.0,1583800.0,1583800.5,1583800.5,10148885600,5.205224e+13,798234,6.297415e+10
3239,20220517,1588770.0,1607220.0,1606024.3,1606024.3,10239274235,5.180431e+13,854852,6.385780e+10
3240,20220518,1605300.0,1605300.0,1594977.7,1594977.7,8283025474,4.102303e+13,933043,6.341822e+10
3241,20220521,1591530.0,1591530.0,1579691.1,1579691.1,8136842521,4.053541e+13,590090,6.279521e+10
3242,20220522,1579740.0,1582320.0,1582144.3,1582144.3,6746482935,3.470973e+13,464806,6.278151e+10

##############

## Calculate Class

In [ ]:
merged_dataset["Class"] = np.sign((merged_dataset["Overall Index <CLOSE>"] - merged_dataset["Overall Index <CLOSE>"].shift(+1)))
merged_dataset = merged_dataset.iloc[1:,:].reset_index(drop=True)
merged_dataset["Class"] = merged_dataset["Class"].apply(lambda x: int((x+1)/2))

In [ ]:
merged_dataset.isnull().any(axis=1).values.any()

False

In [ ]:
merged_dataset

,<DTYYYYMMDD>,OTC Overall Index <OPEN>,OTC Overall Index <HIGH>,OTC Overall Index <LOW>,OTC Overall Index <CLOSE>,OTC Overall Index <VOL>,OTC Overall Index <OPENINT>,OTC Overall Index <OPENINT>.1,OTC Overall Index <OPENINT>.2,Industy Index <OPEN>,...,TotalEqualWeightPr <OPENINT>.2,Overall Index <OPEN>,Overall Index <HIGH>,Overall Index <LOW>,Overall Index <CLOSE>,Overall Index <VOL>,Overall Index <OPENINT>,Overall Index <OPENINT>.1,Overall Index <OPENINT>.2,Class
0,20210523,17642.9,17642.9,17503.9,17503.9,598258196,3.181944e+12,98344,1.169097e+10,968432.0,...,4.941684e+10,1123500.0,1123500.0,1107900.3,1107900.3,2736872962,1.429308e+13,195077,4.429764e+10,0
1,20210524,17499.8,17504.5,17476.5,17476.5,529694599,2.683259e+12,115169,1.165787e+10,953029.0,...,4.876418e+10,1105220.0,1105220.0,1095726.2,1095726.2,3100360796,1.610564e+13,252943,4.379279e+10,0
2,20210525,17474.0,17552.8,17552.8,17552.8,605556635,3.236629e+12,205382,1.170879e+10,953288.0,...,4.871054e+10,1095800.0,1105850.0,1105446.0,1105446.0,3828842175,2.090582e+13,349959,4.413669e+10,1
3,20210526,17553.4,17582.5,17582.3,17582.3,528637682,2.898542e+12,233866,1.172845e+10,963015.0,...,4.873278e+10,1106380.0,1110560.0,1109369.6,1109369.6,3187572389,1.646125e+13,389162,4.429966e+10,1
4,20210529,17597.8,17732.3,17732.3,17732.3,878277335,6.110854e+12,245412,1.182190e+10,978584.0,...,4.914575e+10,1111520.0,1139620.0,1139480.9,1139480.9,5193610223,2.851750e+13,395488,4.558550e+10,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
232,20220516,21553.8,21620.7,21620.7,21620.7,2465155499,1.561998e+13,345395,1.190409e+10,1469370.0,...,6.713157e+10,1575270.0,1583800.0,1583800.5,1583800.5,10148885600,5.205224e+13,798234,6.297415e+10,1
233,20220517,21644.3,21695.6,21689.7,21689.7,2629661250,1.531904e+13,303832,1.200937e+10,1483100.0,...,6.692013e+10,1588770.0,1607220.0,1606024.3,1606024.3,10239274235,5.180431e+13,854852,6.385780e+10,1
234,20220518,21620.7,21671.6,21643.8,21643.8,1843016966,1.139007e+13,262424,1.197906e+10,1494950.0,...,6.613119e+10,1605300.0,1605300.0,1594977.7,1594977.7,8283025474,4.102303e+13,933043,6.341822e+10,0
235,20220521,21612.6,21612.6,21539.4,21539.4,1422075970,8.965528e+12,182173,1.192066e+10,1478060.0,...,6.588863e+10,1591530.0,1591530.0,1579691.1,1579691.1,8136842521,4.053541e+13,590090,6.279521e+10,0
236,20220522,21546.3,21578.5,21565.8,21565.8,1520177827,1.114881e+13,199379,1.192882e+10,1470750.0,...,6.598761e+10,1579740.0,1582320.0,1582144.3,1582144.3,6746482935,3.470973e+13,464806,6.278151e+10,1

## Convert to Time Series

In [ ]:
def create_ts_dataset(number_days):
  
  dataset_array = []
  for i in range(number_days, len(merged_dataset)):
    day = int(merged_dataset.iloc[i]["<DTYYYYMMDD>"])
    class_ = int(merged_dataset.iloc[i]["Class"])
    data = merged_dataset.drop(columns=["<DTYYYYMMDD>"])\
          .iloc[i-number_days:i].values

    dataset_array.append({"Day": day, "Data": data, "Class": class_})

  return pd.DataFrame(dataset_array)

In [ ]:
ts_dataset = create_ts_dataset(number_days=10)

## Shuffle and Split

In [ ]:
ts_dataset = ts_dataset.sample(frac=1, random_state=0)

In [ ]:
train_valid_dataset, test_dataset = train_test_split(ts_dataset, test_size=0.2)
train_dataset, valid_dataset = train_test_split(train_valid_dataset, test_size=0.125)

In [ ]:
print(sum(train_dataset["Class"].values) * 100 / len(train_dataset["Class"].values))
print(sum(valid_dataset["Class"].values) * 100 / len(valid_dataset["Class"].values))
print(sum(test_dataset["Class"].values) * 100 / len(test_dataset["Class"].values))

55.063291139240505
69.56521739130434
58.69565217391305

# Model

In [ ]:
class MyRNN(keras.Model):
  def __init__(self, cell, number_days, number_cells, number_layers, dropout_rate):
    super().__init__()

    self.model = Sequential([
                             Input((number_days, 129)),
                             BatchNormalization(),
    ])

    for _ in range(number_layers-1):
      self.model.add(cell(number_cells, return_sequences=True))
    self.model.add(cell(number_cells))
    
    self.model.add(Dropout(dropout_rate))
    self.model.add(Dense(2, activation="softmax"))

  def call(self, inputs):
    return self.model(inputs)

# Results

## one Layer

In [ ]:
number_trial = 5

for cell in [LSTM, GRU]:
  for number_cells in [8, 32, 64, 256, 512]:
    for dropout_rate in [0, 0.5, 0.8]:
      for optimizer in [keras.optimizers.Adam(), keras.optimizers.SGD()]:
        accuracy_train_total = 0 
        accuracy_valid_total = 0
        accuracy_test_total = 0

        print(f"cell = {cell} | number_cells = {number_cells} | dropout_rate = {dropout_rate} | optimizer = {optimizer}")
        for i in range(number_trial):
          model = MyRNN(number_days=10, number_cells=number_cells, cell=cell,
                        number_layers=1, dropout_rate=dropout_rate)
          model.compile(optimizer=optimizer, loss="sparse_categorical_crossentropy", metrics=["accuracy"])
          es_callback = EarlyStopping(monitor="val_loss", patience=20, restore_best_weights=True)

          model.fit(x=np.stack(train_dataset["Data"].values),
                    y=train_dataset["Class"].values,
                    validation_data=[np.stack(valid_dataset["Data"].values),
                                    valid_dataset["Class"].values],
                    epochs=300,
                    callbacks=[es_callback],
                    batch_size=8,
                    verbose=0)

          accuracy_train = model.evaluate(x=np.stack(train_dataset["Data"].values), y=train_dataset["Class"].values, verbose=0)[1]
          accuracy_valid = model.evaluate(x=np.stack(valid_dataset["Data"].values), y=valid_dataset["Class"].values, verbose=0)[1]
          accuracy_test = model.evaluate(x=np.stack(test_dataset["Data"].values), y=test_dataset["Class"].values, verbose=0)[1]

          accuracy_train_total += accuracy_train 
          accuracy_valid_total += accuracy_valid
          accuracy_test_total += accuracy_test

        print(f"Accuracy Train = {round(accuracy_train_total/number_trial*100)}%", end=" ")
        print(f"Accuracy Valid = {round(accuracy_valid_total/number_trial*100)}%", end=" ")
        print(f"Accuracy Test = {round(accuracy_test_total/number_trial*100)}%\n")

cell = <class 'keras.layers.recurrent_v2.LSTM'> | number_cells = 8 | dropout_rate = 0 | optimizer = <keras.optimizer_v2.adam.Adam object at 0x7fad4f4ece50>
Accuracy Train = 73% Accuracy Valid = 69% Accuracy Test = 63%

cell = <class 'keras.layers.recurrent_v2.LSTM'> | number_cells = 8 | dropout_rate = 0 | optimizer = <keras.optimizer_v2.gradient_descent.SGD object at 0x7fad4f4ecd10>
Accuracy Train = 56% Accuracy Valid = 70% Accuracy Test = 54%

cell = <class 'keras.layers.recurrent_v2.LSTM'> | number_cells = 8 | dropout_rate = 0.5 | optimizer = <keras.optimizer_v2.adam.Adam object at 0x7fad4f4ec350>
Accuracy Train = 69% Accuracy Valid = 70% Accuracy Test = 60%

cell = <class 'keras.layers.recurrent_v2.LSTM'> | number_cells = 8 | dropout_rate = 0.5 | optimizer = <keras.optimizer_v2.gradient_descent.SGD object at 0x7fad4f4ece50>
Accuracy Train = 62% Accuracy Valid = 70% Accuracy Test = 64%

cell = <class 'keras.layers.recurrent_v2.LSTM'> | number_cells = 8 | dropout_rate = 0.8 | optimizer = <keras.optimizer_v2.adam.Adam object at 0x7fad4c92eb10>
Accuracy Train = 65% Accuracy Valid = 62% Accuracy Test = 65%

cell = <class 'keras.layers.recurrent_v2.LSTM'> | number_cells = 8 | dropout_rate = 0.8 | optimizer = <keras.optimizer_v2.gradient_descent.SGD object at 0x7fad4ca85050>
Accuracy Train = 59% Accuracy Valid = 71% Accuracy Test = 62%

cell = <class 'keras.layers.recurrent_v2.LSTM'> | number_cells = 32 | dropout_rate = 0 | optimizer = <keras.optimizer_v2.adam.Adam object at 0x7fad4f7b14d0>
Accuracy Train = 68% Accuracy Valid = 64% Accuracy Test = 58%

cell = <class 'keras.layers.recurrent_v2.LSTM'> | number_cells = 32 | dropout_rate = 0 | optimizer = <keras.optimizer_v2.gradient_descent.SGD object at 0x7fad4c928910>
Accuracy Train = 64% Accuracy Valid = 62% Accuracy Test = 57%

cell = <class 'keras.layers.recurrent_v2.LSTM'> | number_cells = 32 | dropout_rate = 0.5 | optimizer = <keras.optimizer_v2.adam.Adam object at 0x7fad4c928990>
Accuracy Train = 68% Accuracy Valid = 78% Accuracy Test = 62%

cell = <class 'keras.layers.recurrent_v2.LSTM'> | number_cells = 32 | dropout_rate = 0.5 | optimizer = <keras.optimizer_v2.gradient_descent.SGD object at 0x7fad4f7b14d0>
Accuracy Train = 62% Accuracy Valid = 70% Accuracy Test = 60%

cell = <class 'keras.layers.recurrent_v2.LSTM'> | number_cells = 32 | dropout_rate = 0.8 | optimizer = <keras.optimizer_v2.adam.Adam object at 0x7fad4f7c64d0>
Accuracy Train = 66% Accuracy Valid = 73% Accuracy Test = 66%

cell = <class 'keras.layers.recurrent_v2.LSTM'> | number_cells = 32 | dropout_rate = 0.8 | optimizer = <keras.optimizer_v2.gradient_descent.SGD object at 0x7fad4f8c7210>
Accuracy Train = 66% Accuracy Valid = 72% Accuracy Test = 67%

cell = <class 'keras.layers.recurrent_v2.LSTM'> | number_cells = 64 | dropout_rate = 0 | optimizer = <keras.optimizer_v2.adam.Adam object at 0x7fad4f8d3c90>
Accuracy Train = 73% Accuracy Valid = 77% Accuracy Test = 61%

cell = <class 'keras.layers.recurrent_v2.LSTM'> | number_cells = 64 | dropout_rate = 0 | optimizer = <keras.optimizer_v2.gradient_descent.SGD object at 0x7fad4f7c64d0>
Accuracy Train = 66% Accuracy Valid = 70% Accuracy Test = 63%

cell = <class 'keras.layers.recurrent_v2.LSTM'> | number_cells = 64 | dropout_rate = 0.5 | optimizer = <keras.optimizer_v2.adam.Adam object at 0x7fad49ca2a10>
Accuracy Train = 60% Accuracy Valid = 76% Accuracy Test = 54%

cell = <class 'keras.layers.recurrent_v2.LSTM'> | number_cells = 64 | dropout_rate = 0.5 | optimizer = <keras.optimizer_v2.gradient_descent.SGD object at 0x7fadbc360390>
Accuracy Train = 60% Accuracy Valid = 74% Accuracy Test = 60%

cell = <class 'keras.layers.recurrent_v2.LSTM'> | number_cells = 64 | dropout_rate = 0.8 | optimizer = <keras.optimizer_v2.adam.Adam object at 0x7fad4f1ab490>
Accuracy Train = 64% Accuracy Valid = 74% Accuracy Test = 60%

cell = <class 'keras.layers.recurrent_v2.LSTM'> | number_cells = 64 | dropout_rate = 0.8 | optimizer = <keras.optimizer_v2.gradient_descent.SGD object at 0x7fad49ca2a10>
Accuracy Train = 62% Accuracy Valid = 75% Accuracy Test = 59%

cell = <class 'keras.layers.recurrent_v2.LSTM'> | number_cells = 256 | dropout_rate = 0 | optimizer = <keras.optimizer_v2.adam.Adam object at 0x7fad4cf39890>
Accuracy Train = 75% Accuracy Valid = 70% Accuracy Test = 59%

cell = <class 'keras.layers.recurrent_v2.LSTM'> | number_cells = 256 | dropout_rate = 0 | optimizer = <keras.optimizer_v2.gradient_descent.SGD object at 0x7fad4f1ab490>
Accuracy Train = 61% Accuracy Valid = 67% Accuracy Test = 55%

cell = <class 'keras.layers.recurrent_v2.LSTM'> | number_cells = 256 | dropout_rate = 0.5 | optimizer = <keras.optimizer_v2.adam.Adam object at 0x7fad4c812410>
Accuracy Train = 63% Accuracy Valid = 74% Accuracy Test = 59%

cell = <class 'keras.layers.recurrent_v2.LSTM'> | number_cells = 256 | dropout_rate = 0.5 | optimizer = <keras.optimizer_v2.gradient_descent.SGD object at 0x7fad4c5f3150>
Accuracy Train = 64% Accuracy Valid = 67% Accuracy Test = 61%

cell = <class 'keras.layers.recurrent_v2.LSTM'> | number_cells = 256 | dropout_rate = 0.8 | optimizer = <keras.optimizer_v2.adam.Adam object at 0x7fad4c812410>
Accuracy Train = 66% Accuracy Valid = 80% Accuracy Test = 66%

cell = <class 'keras.layers.recurrent_v2.LSTM'> | number_cells = 256 | dropout_rate = 0.8 | optimizer = <keras.optimizer_v2.gradient_descent.SGD object at 0x7fad4f57f390>
Accuracy Train = 64% Accuracy Valid = 71% Accuracy Test = 63%

cell = <class 'keras.layers.recurrent_v2.LSTM'> | number_cells = 512 | dropout_rate = 0 | optimizer = <keras.optimizer_v2.adam.Adam object at 0x7fad4c540950>
Accuracy Train = 71% Accuracy Valid = 72% Accuracy Test = 54%

cell = <class 'keras.layers.recurrent_v2.LSTM'> | number_cells = 512 | dropout_rate = 0 | optimizer = <keras.optimizer_v2.gradient_descent.SGD object at 0x7fad4c812410>
Accuracy Train = 64% Accuracy Valid = 72% Accuracy Test = 60%

cell = <class 'keras.layers.recurrent_v2.LSTM'> | number_cells = 512 | dropout_rate = 0.5 | optimizer = <keras.optimizer_v2.adam.Adam object at 0x7fad4e0c5f90>
Accuracy Train = 66% Accuracy Valid = 76% Accuracy Test = 62%

cell = <class 'keras.layers.recurrent_v2.LSTM'> | number_cells = 512 | dropout_rate = 0.5 | optimizer = <keras.optimizer_v2.gradient_descent.SGD object at 0x7fad4e0c56d0>
Accuracy Train = 65% Accuracy Valid = 73% Accuracy Test = 61%

cell = <class 'keras.layers.recurrent_v2.LSTM'> | number_cells = 512 | dropout_rate = 0.8 | optimizer = <keras.optimizer_v2.adam.Adam object at 0x7fad4f216e90>
Accuracy Train = 61% Accuracy Valid = 77% Accuracy Test = 62%

cell = <class 'keras.layers.recurrent_v2.LSTM'> | number_cells = 512 | dropout_rate = 0.8 | optimizer = <keras.optimizer_v2.gradient_descent.SGD object at 0x7fad4f8a58d0>
Accuracy Train = 63% Accuracy Valid = 73% Accuracy Test = 62%

cell = <class 'keras.layers.recurrent_v2.GRU'> | number_cells = 8 | dropout_rate = 0 | optimizer = <keras.optimizer_v2.adam.Adam object at 0x7fad4f8a5910>
Accuracy Train = 61% Accuracy Valid = 65% Accuracy Test = 53%

cell = <class 'keras.layers.recurrent_v2.GRU'> | number_cells = 8 | dropout_rate = 0 | optimizer = <keras.optimizer_v2.gradient_descent.SGD object at 0x7fad4c94f650>
Accuracy Train = 65% Accuracy Valid = 68% Accuracy Test = 58%

cell = <class 'keras.layers.recurrent_v2.GRU'> | number_cells = 8 | dropout_rate = 0.5 | optimizer = <keras.optimizer_v2.adam.Adam object at 0x7fad4c961f90>
Accuracy Train = 69% Accuracy Valid = 77% Accuracy Test = 60%

cell = <class 'keras.layers.recurrent_v2.GRU'> | number_cells = 8 | dropout_rate = 0.5 | optimizer = <keras.optimizer_v2.gradient_descent.SGD object at 0x7fad4f8a5910>
Accuracy Train = 59% Accuracy Valid = 74% Accuracy Test = 50%

cell = <class 'keras.layers.recurrent_v2.GRU'> | number_cells = 8 | dropout_rate = 0.8 | optimizer = <keras.optimizer_v2.adam.Adam object at 0x7fad4cfcd190>
Accuracy Train = 61% Accuracy Valid = 77% Accuracy Test = 64%

cell = <class 'keras.layers.recurrent_v2.GRU'> | number_cells = 8 | dropout_rate = 0.8 | optimizer = <keras.optimizer_v2.gradient_descent.SGD object at 0x7fad4e3f0910>
Accuracy Train = 56% Accuracy Valid = 73% Accuracy Test = 57%

cell = <class 'keras.layers.recurrent_v2.GRU'> | number_cells = 32 | dropout_rate = 0 | optimizer = <keras.optimizer_v2.adam.Adam object at 0x7fad4c7b8910>
Accuracy Train = 64% Accuracy Valid = 74% Accuracy Test = 55%

cell = <class 'keras.layers.recurrent_v2.GRU'> | number_cells = 32 | dropout_rate = 0 | optimizer = <keras.optimizer_v2.gradient_descent.SGD object at 0x7fad4c7b8a90>
Accuracy Train = 63% Accuracy Valid = 61% Accuracy Test = 51%

cell = <class 'keras.layers.recurrent_v2.GRU'> | number_cells = 32 | dropout_rate = 0.5 | optimizer = <keras.optimizer_v2.adam.Adam object at 0x7fad4c7b8290>
Accuracy Train = 64% Accuracy Valid = 76% Accuracy Test = 57%

cell = <class 'keras.layers.recurrent_v2.GRU'> | number_cells = 32 | dropout_rate = 0.5 | optimizer = <keras.optimizer_v2.gradient_descent.SGD object at 0x7fad4c7b8910>
Accuracy Train = 60% Accuracy Valid = 68% Accuracy Test = 50%

cell = <class 'keras.layers.recurrent_v2.GRU'> | number_cells = 32 | dropout_rate = 0.8 | optimizer = <keras.optimizer_v2.adam.Adam object at 0x7fad4d032690>
Accuracy Train = 63% Accuracy Valid = 74% Accuracy Test = 57%

cell = <class 'keras.layers.recurrent_v2.GRU'> | number_cells = 32 | dropout_rate = 0.8 | optimizer = <keras.optimizer_v2.gradient_descent.SGD object at 0x7fad4f6505d0>
Accuracy Train = 55% Accuracy Valid = 75% Accuracy Test = 50%

cell = <class 'keras.layers.recurrent_v2.GRU'> | number_cells = 64 | dropout_rate = 0 | optimizer = <keras.optimizer_v2.adam.Adam object at 0x7fad4f48ff90>
Accuracy Train = 62% Accuracy Valid = 68% Accuracy Test = 55%

cell = <class 'keras.layers.recurrent_v2.GRU'> | number_cells = 64 | dropout_rate = 0 | optimizer = <keras.optimizer_v2.gradient_descent.SGD object at 0x7fad4c718990>
Accuracy Train = 61% Accuracy Valid = 70% Accuracy Test = 50%

cell = <class 'keras.layers.recurrent_v2.GRU'> | number_cells = 64 | dropout_rate = 0.5 | optimizer = <keras.optimizer_v2.adam.Adam object at 0x7fad488b73d0>
Accuracy Train = 66% Accuracy Valid = 76% Accuracy Test = 57%

cell = <class 'keras.layers.recurrent_v2.GRU'> | number_cells = 64 | dropout_rate = 0.5 | optimizer = <keras.optimizer_v2.gradient_descent.SGD object at 0x7fad488b7b50>
Accuracy Train = 66% Accuracy Valid = 72% Accuracy Test = 60%

cell = <class 'keras.layers.recurrent_v2.GRU'> | number_cells = 64 | dropout_rate = 0.8 | optimizer = <keras.optimizer_v2.adam.Adam object at 0x7fad49d6ed10>
Accuracy Train = 66% Accuracy Valid = 73% Accuracy Test = 60%

cell = <class 'keras.layers.recurrent_v2.GRU'> | number_cells = 64 | dropout_rate = 0.8 | optimizer = <keras.optimizer_v2.gradient_descent.SGD object at 0x7fad49d6e390>
Accuracy Train = 58% Accuracy Valid = 75% Accuracy Test = 52%

cell = <class 'keras.layers.recurrent_v2.GRU'> | number_cells = 256 | dropout_rate = 0 | optimizer = <keras.optimizer_v2.adam.Adam object at 0x7fad49d6ed10>
Accuracy Train = 73% Accuracy Valid = 67% Accuracy Test = 59%

cell = <class 'keras.layers.recurrent_v2.GRU'> | number_cells = 256 | dropout_rate = 0 | optimizer = <keras.optimizer_v2.gradient_descent.SGD object at 0x7fad48686ad0>
Accuracy Train = 64% Accuracy Valid = 77% Accuracy Test = 62%

cell = <class 'keras.layers.recurrent_v2.GRU'> | number_cells = 256 | dropout_rate = 0.5 | optimizer = <keras.optimizer_v2.adam.Adam object at 0x7fad48686e10>
Accuracy Train = 67% Accuracy Valid = 70% Accuracy Test = 57%

cell = <class 'keras.layers.recurrent_v2.GRU'> | number_cells = 256 | dropout_rate = 0.5 | optimizer = <keras.optimizer_v2.gradient_descent.SGD object at 0x7fad49d6ed10>
Accuracy Train = 64% Accuracy Valid = 75% Accuracy Test = 62%

cell = <class 'keras.layers.recurrent_v2.GRU'> | number_cells = 256 | dropout_rate = 0.8 | optimizer = <keras.optimizer_v2.adam.Adam object at 0x7fad486dff50>
Accuracy Train = 66% Accuracy Valid = 77% Accuracy Test = 61%

cell = <class 'keras.layers.recurrent_v2.GRU'> | number_cells = 256 | dropout_rate = 0.8 | optimizer = <keras.optimizer_v2.gradient_descent.SGD object at 0x7fad48686e10>
Accuracy Train = 62% Accuracy Valid = 70% Accuracy Test = 58%

cell = <class 'keras.layers.recurrent_v2.GRU'> | number_cells = 512 | dropout_rate = 0 | optimizer = <keras.optimizer_v2.adam.Adam object at 0x7fad4cfd5e50>
Accuracy Train = 91% Accuracy Valid = 81% Accuracy Test = 55%

cell = <class 'keras.layers.recurrent_v2.GRU'> | number_cells = 512 | dropout_rate = 0 | optimizer = <keras.optimizer_v2.gradient_descent.SGD object at 0x7fad4ce1fe50>
Accuracy Train = 66% Accuracy Valid = 75% Accuracy Test = 61%

cell = <class 'keras.layers.recurrent_v2.GRU'> | number_cells = 512 | dropout_rate = 0.5 | optimizer = <keras.optimizer_v2.adam.Adam object at 0x7fad4c9cf690>
Accuracy Train = 64% Accuracy Valid = 80% Accuracy Test = 54%

cell = <class 'keras.layers.recurrent_v2.GRU'> | number_cells = 512 | dropout_rate = 0.5 | optimizer = <keras.optimizer_v2.gradient_descent.SGD object at 0x7fad4ce71210>
Accuracy Train = 65% Accuracy Valid = 70% Accuracy Test = 60%

cell = <class 'keras.layers.recurrent_v2.GRU'> | number_cells = 512 | dropout_rate = 0.8 | optimizer = <keras.optimizer_v2.adam.Adam object at 0x7fad4c9cf690>
Accuracy Train = 66% Accuracy Valid = 81% Accuracy Test = 57%

cell = <class 'keras.layers.recurrent_v2.GRU'> | number_cells = 512 | dropout_rate = 0.8 | optimizer = <keras.optimizer_v2.gradient_descent.SGD object at 0x7fad4d194d10>
Accuracy Train = 65% Accuracy Valid = 73% Accuracy Test = 58%

## Stacked